<box-loader loading="false" cover="1" class="cover" delay="1000"></box-loader>

<div class="heading">
    <h1>{{ "campaign.add_heading" | translate }}</h1>
</div>
<div style="clear:both;"></div>

<form novalidate ng-submit="CampaignCtrl.addCampaign(newCampaign)">
    <div class="box-content">
        <div class="row">
            <div class="columns medium-12">

                <admin-fieldset-block ng-repeat="language in availableFrontendTranslations | orderBy: 'order'" fieldset-label="{{ ('level.basic_info' | translate) + ' (' + language.name + ')' }}" togglable="true" togglable-active="{{ language.default }}">
                    <admin-fieldset-row
                        ng-repeat="field in translatableFields"
                        row-label="{{ field.label }}"
                        row-prompt="{{ field.prompt }}"
                        is-required="{{ language.default && field.required }}"
                        input-model="newCampaign.translations[language.code][field.key]"
                        validate-by="validate.translations[language.code][field.key].errors">
                    </admin-fieldset-row>

                    <admin-fieldset-row
                            row-label="campaign.short_description"
                            row-prompt="campaign.short_description_prompt"
                            is-required="false"
                            input-type="simplemde"
                            input-model="newCampaign.translations[language.code].shortDescription"
                            validate-by="validate.translations[language.code].shortDescription.errors">
                    </admin-fieldset-row>

                    <admin-fieldset-row
                        ng-if="newCampaign.reward && newCampaign.reward != 'cashback' && newCampaign.reward != 'percentage_discount_code'"
                        row-label="campaign.conditions_description"
                        row-prompt="campaign.conditions_description_prompt"
                        is-required="false"
                        input-type="simplemde"
                        input-model="newCampaign.translations[language.code].conditionsDescription"
                        validate-by="validate.translations[language.code].conditionsDescription.errors">
                    </admin-fieldset-row>

                    <admin-fieldset-row
                        ng-if="newCampaign.reward && newCampaign.reward != 'cashback' && newCampaign.reward != 'percentage_discount_code' && newCampaign.reward !== 'custom_campaign_code'"
                        row-label="campaign.usage_instruction"
                        row-prompt="campaign.usage_instruction_prompt"
                        is-required="false"
                        input-type="simplemde"
                        input-model="newCampaign.translations[language.code].usageInstruction"
                        validate-by="validate.translations[language.code].usageInstruction.errors">
                    </admin-fieldset-row>

                    <admin-fieldset-row
                        row-label="campaign.brand_name"
                        row-prompt="campaign.brand_name_prompt"
                        is-required="false"
                        input-model="newCampaign.translations[language.code].brandName"
                        validate-by="validate.translations[language.code].brandName.errors">
                    </admin-fieldset-row>

                    <admin-fieldset-row
                            row-label="campaign.brand_description"
                            row-prompt="campaign.brand_description_prompt"
                            is-required="false"
                            input-type="simplemde"
                            input-model="newCampaign.translations[language.code].brandDescription"
                            validate-by="validate.translations[language.code].brandDescription.errors">
                    </admin-fieldset-row>
                </admin-fieldset-block>

                <admin-fieldset-block fieldset-label="campaign.type_info">
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.type" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.reward.errors">
                            <selectize config="CampaignCtrl.rewardConfig"
                                       options="CampaignCtrl.reward"
                                       ng-model="newCampaign.reward">
                            </selectize>
                            <span class="prompt">{{ "campaign.type_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-if="newCampaign.reward === 'gift_code'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.fulfillment_tracking" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" >
                            <checkbox ng-model="newCampaign.fulfillmentTracking"></checkbox>
                            <span class="prompt">{{ "campaign.fulfillment_tracking_prompt" | translate }} </span>
                        </div>
                    </div>
                </admin-fieldset-block>

                <admin-fieldset-block fieldset-label="campaign.basic_info">
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.active" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.active.errors"
                             ng-init="newCampaign.active=0">
                            <selectize config="CampaignCtrl.activeConfig" options="CampaignCtrl.active"
                                       ng-model="newCampaign.active" ng-init="newCampaign.active=true"></selectize>
                            <span class="prompt">{{ "campaign.active_prompt" | translate }} </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.more_information_link" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.moreInformationLink.errors">
                            <input type="text" ng-model="newCampaign.moreInformationLink"/>
                            <span class="prompt">{{ "campaign.more_information_link_prompt" | translate }} </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.push_notification_text" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.pushNotificationText.errors">
                            <input type="text" ng-model="newCampaign.pushNotificationText"/>
                            <span class="prompt">{{ "campaign.push_notification_text_prompt" | translate }} </span>
                        </div>
                    </div>

                    <div class="row" ng-if="newCampaign.reward && newCampaign.reward == 'percentage_discount_code'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.transaction_percentage_value" | translate }}<span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.transactionPercentageValue.errors">
                            <input type="number" ng-model="newCampaign.transactionPercentageValue" required step="1">
                            <span class="prompt">{{ "campaign.transaction_percentage_value_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-if="newCampaign.reward !== 'cashback' && newCampaign.reward !== 'custom_campaign_code'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.days_inactive" | translate }}<span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.daysInactive.errors"
                             ng-init="newCampaign.daysInactive = 28">
                            <input type="number" ng-model="newCampaign.daysInactive" required step="1">
                            <span class="prompt">{{ "campaign.days_inactive_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-if="newCampaign.reward !== 'cashback' && newCampaign.reward !== 'custom_campaign_code'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.days_valid" | translate }}<span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.daysValid.errors"
                             ng-init="newCampaign.daysValid = 90">
                            <input type="number" ng-model="newCampaign.daysValid" required step="1">
                            <span class="prompt">{{ "campaign.days_valid_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row"
                         ng-if="newCampaign.reward && newCampaign.reward != 'cashback'
                            && newCampaign.reward != 'percentage_discount_code'
                            && newCampaign.reward !== 'custom_campaign_code'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.cost_in_points" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.costInPoints.errors">
                            <input type="number" ng-model="newCampaign.costInPoints" required step="0.5">
                            <span class="prompt">{{ "campaign.cost_in_points_prompt" | translate }} </span>
                        </div>
                    </div>

                    <div class="row" ng-if="newCampaign.reward && newCampaign.reward == 'cashback'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.point_value" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.pointValue.errors">
                            <input type="number" ng-model="newCampaign.pointValue" required step="0.5">
                            <span class="prompt">{{ "campaign.point_value_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.reward_value" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.rewardValue.errors">
                            <input type="number" ng-model="newCampaign.rewardValue" step="0.01">
                            <span class="prompt">{{ "campaign.reward_value_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.tax" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.tax.errors">
                            <input type="number" ng-model="newCampaign.tax" step="1">
                            <span class="prompt">{{ "campaign.tax_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.tax_price_value" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.taxPriceValue.errors">
                            <input type="number" ng-model="newCampaign.taxPriceValue" step="0.01">
                            <span class="prompt">{{ "campaign.tax_price_value_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.labels" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.labels.errors">
                            <div class="collection"
                                 ng-repeat="label in newCampaign.labels track by $index">
                                <div class="row">
                                    <div class="medium-2 small-3 columns">
                                        <label>{{ "campaign.key" | translate }} <span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="medium-10 small-9 columns"
                                         form-validation="validate.labels[$index].key.errors">
                                        <input ng-model="newCampaign.labels[$index].key">
                                        <span class="prompt">{{ "campaign.label_key_prompt" | translate }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-2 small-3 columns">
                                        <label>{{ "campaign.value" | translate }} <span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="medium-10 small-9 columns"
                                         form-validation="validate.labels[$index].value.errors">
                                        <input ng-model="newCampaign.labels[$index].value">
                                        <span class="prompt">{{ "campaign.label_value_prompt" | translate }}</span>
                                    </div>
                                </div>

                                <button type="button" class="remove-collection"
                                        ng-click="CampaignCtrl.removeLabel($index, false)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <button type="button" class="button button-secondary tiny"
                                    ng-click="CampaignCtrl.addLabel(false)">{{
                                "campaign.add_label" | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.categories" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.categories.errors">
                            <selectize config="CampaignCtrl.categoriesConfig"
                                       options="CampaignCtrl.categories"
                                       ng-model="newCampaign.categories">
                            </selectize>
                            <span class="prompt">{{ "campaign.categories_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.featured" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.featured.errors">
                            <checkbox ng-model="newCampaign.featured"></checkbox>
                            <span class="prompt">{{ "campaign.featured_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.public" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.public.errors">
                            <checkbox ng-model="newCampaign.public"></checkbox>
                            <span class="prompt">{{ "campaign.public_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-if="newCampaign.reward == 'custom_campaign_code'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.connect_type.heading" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.connectType.errors">
                            <selectize config="CampaignCtrl.connectTypeConfig"
                                       options="CampaignCtrl.connectType"
                                       ng-init="newCampaign.connectType='none'"
                                       ng-model="newCampaign.connectType"
                                       ng-change="CampaignCtrl.getConnectTypeEarningRule(newCampaign.connectType)">
                            </selectize>
                            <span class="prompt">{{ "campaign.connect_type_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-if="newCampaign.reward == 'custom_campaign_code' && newCampaign.connectType && newCampaign.connectType != 'none'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.earning_rule" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.earningRuleId.errors">
                            <selectize config="CampaignCtrl.earningRuleIdConfig"
                                       options="CampaignCtrl.earningRuleId"
                                       ng-model="newCampaign.earningRuleId">
                            </selectize>
                            <span class="prompt">{{ "campaign.earning_rule_prompt" | translate }} </span>
                        </div>
                    </div>
                </admin-fieldset-block>
                <fieldset class="fieldset">
                    <legend>{{ "campaign.brand_info" | translate }}</legend>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.brand_icon" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="brandIconFileValidate.file.errors">
                            <div ng-show="!campaignBrandIconFilePath">
                                <input type="file" file-model="$parent.$parent.campaignBrandIconFile">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <admin-fieldset-block fieldset-label="Target">
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.target_type" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" ng-init="newCampaign.target='level'">
                            <selectize config="CampaignCtrl.targetConfig" options="CampaignCtrl.target"
                                       ng-model="newCampaign.target"></selectize>
                            <span class="prompt">{{ "campaign.target_type_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="newCampaign.target=='level'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.levels" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.levels.errors">
                            <selectize config="CampaignCtrl.levelsConfig"
                                       options="CampaignCtrl.levels"
                                       ng-model="newCampaign.levels">
                            </selectize>
                            <span class="prompt">{{ "campaign.levels_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="newCampaign.target=='segment'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.segments" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.segments.errors">
                            <selectize config="CampaignCtrl.segmentsConfig"
                                       options="CampaignCtrl.segments"
                                       ng-model="newCampaign.segments">
                            </selectize>
                            <span class="prompt">{{ "campaign.segments_prompt" | translate }} </span>
                        </div>
                    </div>
                </admin-fieldset-block>

                <admin-fieldset-block fieldset-label="campaign.limit_info"
                                      ng-if="newCampaign.reward && newCampaign.reward != 'cashback' && newCampaign.reward != 'percentage_discount_code' && newCampaign.reward !== 'custom_campaign_code'">
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.unlimited" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.unlimited.errors">
                            <checkbox ng-model="newCampaign.unlimited"></checkbox>
                            <span class="prompt">{{ "campaign.unlimited_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.singleCoupon" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.singleCoupon.errors">
                            <checkbox ng-model="newCampaign.singleCoupon"></checkbox>
                            <span class="prompt">{{ "campaign.singleCoupon_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="!newCampaign.unlimited">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.limit" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.limit.errors">
                            <input type="number" ng-model="newCampaign.limit"/>
                            <span class="prompt">{{ "campaign.limit_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="!newCampaign.unlimited">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.limit_per_user" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.limitPerUser.errors">
                            <input type="number" ng-model="newCampaign.limitPerUser">
                            <span class="prompt">{{ "campaign.limit_per_user_prompt" | translate }} </span>
                        </div>
                    </div>
                </admin-fieldset-block>

                <admin-fieldset-block fieldset-label="campaign.coupons_info"
                                      ng-if="newCampaign.reward && newCampaign.reward != 'cashback' && newCampaign.reward != 'percentage_discount_code' && newCampaign.reward !== 'custom_campaign_code'">
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.coupons" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.coupons.errors">
                            <selectize config="CampaignCtrl.couponsConfig" options="CampaignCtrl.egCoupon"
                                       ng-model="newCampaign.coupons"></selectize>
                            <span class="prompt">{{ "campaign.coupons_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.coupons_upload" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             ng-init="newCampaign.couponsCsv=[]">
                            <div ng-model="newCampaign.couponsCsv" csv-upload></div>
                            <span class="prompt">{{ "campaign.coupons_upload_prompt" | translate }} </span>
                        </div>
                    </div>
                </admin-fieldset-block>

                <admin-fieldset-block fieldset-label="campaign.visibility" class="fieldset"
                                      ng-if="newCampaign.reward && newCampaign.reward != 'cashback'  && newCampaign.reward != 'percentage_discount_code'">
                    <div class="row" ng-init="newCampaign.campaignVisibility.allTimeVisible=false">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.all_time_visible" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="validate.campaignVisibility.allTimeVisible.errors">
                            <checkbox ng-model="newCampaign.campaignVisibility.allTimeVisible"></checkbox>
                            <span class="prompt">{{ "campaign.all_time_visible_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="!newCampaign.campaignVisibility.allTimeVisible">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.visible_from" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="validate.campaignVisibility.visibleFrom.errors">
                            <input type="text"
                                   ng-model="newCampaign.campaignVisibility.visibleFrom"
                                   datepicker
                                   ng-disabled="newCampaign.campaignVisibility.allTimeVisible"
                            />
                            <span class="prompt">{{ "campaign.visible_from_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="!newCampaign.campaignVisibility.allTimeVisible">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.visible_to" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="validate.campaignVisibility.visibleTo.errors">
                            <input type="text"
                                   ng-model="newCampaign.campaignVisibility.visibleTo"
                                   datepicker
                                   ng-disabled="newCampaign.campaignVisibility.allTimeVisible"
                            />
                            <span class="prompt">{{ "campaign.visible_to_prompt" | translate }} </span>
                        </div>
                    </div>
                </admin-fieldset-block>

                <admin-fieldset-block fieldset-label="campaign.activity">
                    <div class="row" ng-init="newCampaign.campaignActivity.allTimeActive=false">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.all_time_active" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="validate.campaignActivity.allTimeActive.errors">
                            <checkbox ng-model="newCampaign.campaignActivity.allTimeActive"></checkbox>
                            <span class="prompt">{{ "campaign.all_time_active_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="!newCampaign.campaignActivity.allTimeActive">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.active_from" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="validate.campaignActivity.activeFrom.errors">
                            <input type="text"
                                   ng-model="newCampaign.campaignActivity.activeFrom"
                                   datepicker
                                   ng-disabled="newCampaign.campaignActivity.allTimeActive"
                            />
                            <span class="prompt">{{ "campaign.active_from_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="!newCampaign.campaignActivity.allTimeActive">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.active_to" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="validate.campaignActivity.activeTo.errors">
                            <input type="text"
                                   ng-model="newCampaign.campaignActivity.activeTo"
                                   datepicker
                                   ng-disabled="newCampaign.campaignActivity.allTimeActive"
                            />
                            <span class="prompt">{{ "campaign.active_to_prompt" | translate }} </span>
                        </div>
                    </div>
                </admin-fieldset-block>

                <fieldset class="fieldset"
                          ng-show="newCampaign.reward && newCampaign.reward != 'cashback'
                            && newCampaign.reward != 'percentage_discount_code'">
                    <legend>{{ "campaign.photo" | translate }}</legend>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.photo" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns">

                            <div data-ng-repeat="input in CampaignCtrl.campaignFiles">
                                <div form-validation="fileValidate.file.errors">
                                    <input type="file" class="input-file" name="name{{$index}}" file-model="CampaignCtrl.campaignFiles[{{$index}}].file">
                                    <button ng-hide="$index === 0" class="icon-button" ng-click="CampaignCtrl.removeFileInput($event, CampaignCtrl.campaignFiles[$index].id)"><span
                                            class="fa fa-remove"></span></button>
                                    <span class="error-msg">
                                        <span>{{ fileValidate[$index].error }}</span>
                                    </span>
                                </div>
                            </div>
                            <button class="button button-septenary-colorized text-uppercase" ng-click="CampaignCtrl.addFileInput($event)">
                                {{ "campaign.add_another" | translate }}
                            </button>

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="box-footer" ng-init="CampaignCtrl.loaderStates.campaignDetails=false">
        <div class="row">
            <div class="columns small-12">
                <button class="button button-septenary-colorized  float-left m-r-1" type="submit">
                    {{ "global.save" | translate }}
                </button>
                <button type="button" ui-sref="admin.campaign-list" class="button button-default float-left"
                        href="#">
                    {{ "global.cancel" | translate }}
                </button>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</form>

