<box-loader loading="CampaignCtrl.loaderStates.coverLoader" cover="1" class="cover" delay="1000"></box-loader>

<div class="heading" ng-init="CampaignCtrl.getCategoryData()">
    <h1>{{ "campaign.category.heading" | translate }}</h1>
    <div class="action-buttons">
        <button ng-show="CampaignCtrl.AuthService.hasPermission('REWARD_CAMPAIGN', 'MODIFY')" class="medium button button-septenary-colorized" ui-sref="admin.add-campaign-category">
            {{ "campaign.category.add" | translate }}
        </button>
    </div>
</div>
<div style="clear:both;"></div>

<div class="client-list box">
    <div class="box-title">
        <h1 class="text-left">{{ "campaign.category.list" | translate }}</h1>
    </div>
    <div class="box-content">
        <box-loader loading="CampaignCtrl.loaderStates.categoryList"></box-loader>
        <table ng-table="CampaignCtrl.categoryTableParams" class="default" template-pagination="templatePagination.html">
            <tr ng-repeat="row in $data">
                <td data-title="'campaign.category.name'|translate" sortable="'name'" filter="{name: 'text'}">
                    <span ng-bind="row.name"></span>
                </td>
                <td data-title="'campaign.category.sort_order'|translate" sortable="'sortOrder'">
                    <span ng-bind="row.sortOrder"></span>
                </td>
                <td data-title="'campaign.category.active'|translate" sortable="'active'">
                        <span ng-show="CampaignCtrl.AuthService.hasPermission('REWARD_CAMPAIGN', 'MODIFY')">
                            <button
                                    ng-if="row.active"
                                    class="tiny button button-septenary-colorized"
                                    ng-click="CampaignCtrl.setCategoryState(row.campaignCategoryId, !row.active)"
                            >
                                {{'global.active'|translate}}
                            </button>
                            <button
                                    ng-if="!row.active"
                                    class="tiny button button-default"
                                    ng-click="CampaignCtrl.setCategoryState(row.campaignCategoryId, !row.active)"
                            >
                                {{'global.inactive'|translate}}
                            </button>
                        </span>
                        <span ng-show="!CampaignCtrl.AuthService.hasPermission('REWARD_CAMPAIGN', 'MODIFY')">
                            <span ng-if="row.active">
                                {{'global.active'|translate}}
                            </span>
                            <span ng-if="!row.active">
                                {{'global.inactive'|translate}}
                            </span>
                        </span>
                </td>
                <td data-title="'Actions'">
                    <button ng-show="CampaignCtrl.AuthService.hasPermission('REWARD_CAMPAIGN', 'MODIFY')" type="button" class="button  button-secondary tiny"
                            ui-sref="admin.edit-campaign-category({campaignCategoryId: row.campaignCategoryId})">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
