<box-loader loading="CampaignCtrl.loaderStates.campaignDetails" cover="1" class="cover" delay="1000"></box-loader>

<div class="heading" ng-init="CampaignCtrl.getCampaignData()">
    <h1>{{ "campaign.edit_heading" | translate }}</h1>
</div>

<div style="clear:both;"></div>

<form novalidate ng-submit="CampaignCtrl.editCampaign(editableFields)">
    <div class="box-content">
        <div class="row">
            <div class="columns medium-12">

                <admin-fieldset-block ng-repeat="language in availableFrontendTranslations | orderBy: 'order'" fieldset-label="{{ ('level.basic_info' | translate) + ' (' + language.name + ')' }}" togglable="true" togglable-active="{{ language.default }}">
                    <admin-fieldset-row
                        ng-repeat="field in translatableFields"
                        row-label="{{ field.label }}"
                        row-prompt="{{ field.prompt }}"
                        is-required="{{ language.default && field.required }}"
                        input-model="editableFields.translations[language.code][field.key]"
                        validate-by="validate.translations[language.code][field.key].errors">
                    </admin-fieldset-row>

                    <admin-fieldset-row
                            row-label="campaign.short_description"
                            row-prompt="campaign.short_description_prompt"
                            is-required="false"
                            input-type="simplemde"
                            input-model="editableFields.translations[language.code].shortDescription"
                            validate-by="validate.translations[language.code].shortDescription.errors">
                    </admin-fieldset-row>

                    <admin-fieldset-row
                        ng-if="editableFields.reward && editableFields.reward != 'cashback' && editableFields.reward != 'percentage_discount_code'"
                        row-label="campaign.conditions_description"
                        row-prompt="campaign.conditions_description_prompt"
                        is-required="false"
                        input-type="simplemde"
                        input-model="editableFields.translations[language.code].conditionsDescription"
                        validate-by="validate.translations[language.code].conditionsDescription.errors">
                    </admin-fieldset-row>

                    <admin-fieldset-row
                        ng-if="editableFields.reward && editableFields.reward != 'cashback' && editableFields.reward != 'percentage_discount_code' && editableFields.reward !== 'custom_campaign_code'"
                        row-label="campaign.usage_instruction"
                        row-prompt="campaign.usage_instruction_prompt"
                        is-required="false"
                        input-type="simplemde"
                        input-model="editableFields.translations[language.code].usageInstruction"
                        validate-by="validate.translations[language.code].usageInstruction.errors">
                    </admin-fieldset-row>

                    <admin-fieldset-row
                        row-label="campaign.brand_name"
                        row-prompt="campaign.brand_name_prompt"
                        is-required="false"
                        input-model="editableFields.translations[language.code].brandName"
                        validate-by="validate.translations[language.code].brandName.errors">
                    </admin-fieldset-row>

                    <admin-fieldset-row
                        row-label="campaign.brand_description"
                        row-prompt="campaign.brand_description_prompt"
                        is-required="false"
                        input-type="simplemde"
                        input-model="editableFields.translations[language.code].brandDescription"
                        validate-by="validate.translations[language.code].brandDescription.errors">
                    </admin-fieldset-row>

                </admin-fieldset-block>

                <admin-fieldset-block fieldset-label="campaign.type_info">
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.type" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.reward.errors">
                            <selectize config="CampaignCtrl.rewardConfig"
                                       options="CampaignCtrl.reward"
                                       ng-model="editableFields.reward"></selectize>
                            <span class="prompt">{{ "campaign.type_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-if="editableFields.reward === 'gift_code'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.fulfillment_tracking" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" >
                            <checkbox ng-model="editableFields.fulfillmentTracking"></checkbox>
                            <span class="prompt">{{ "campaign.fulfillment_tracking_prompt" | translate }} </span>
                        </div>
                    </div>
                </admin-fieldset-block>

                <admin-fieldset-block fieldset-label="campaign.basic_info">
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.more_information_link" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.moreInformationLink.errors">
                            <input type="text" ng-model="editableFields.moreInformationLink"/>
                            <span class="prompt">{{ "campaign.more_information_link_prompt" | translate }} </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.push_notification_text" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.pushNotificationText.errors">
                            <input type="text" ng-model="editableFields.pushNotificationText"/>
                            <span class="prompt">{{ "campaign.push_notification_text_prompt" | translate }} </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.active" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.active.errors">
                            <selectize config="CampaignCtrl.activeConfig"
                                       options="CampaignCtrl.active"
                                       ng-model="editableFields.active">
                            </selectize>
                            <span class="prompt">{{ "campaign.active_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-if="editableFields.reward && editableFields.reward == 'percentage_discount_code'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.transaction_percentage_value" | translate }}<span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.transactionPercentageValue.errors">
                            <input type="number" ng-model="editableFields.transactionPercentageValue" required step="1">
                            <span class="prompt">{{ "campaign.transaction_percentage_value_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-if="editableFields.reward !== 'cashback' && editableFields.reward !== 'custom_campaign_code'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.days_inactive" | translate }}<span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.daysInactive.errors">
                            <input type="number" ng-model="editableFields.daysInactive" required step="1">
                            <span class="prompt">{{ "campaign.days_inactive_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-if="editableFields.reward !== 'cashback' && editableFields.reward !== 'custom_campaign_code'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.days_valid" | translate }}<span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.daysValid.errors">
                            <input type="number" ng-model="editableFields.daysValid" required step="1">
                            <span class="prompt">{{ "campaign.days_valid_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row"
                         ng-if="editableFields.reward && editableFields.reward != 'cashback'
                            && editableFields.reward != 'percentage_discount_code'
                            && editableFields.reward !== 'custom_campaign_code'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.cost_in_points" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.costInPoints.errors">
                            <input type="number" ng-model="editableFields.costInPoints" required step="0.5">
                            <span class="prompt">{{ "campaign.cost_in_points_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-if="editableFields.reward && editableFields.reward == 'cashback'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.point_value" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.pointValue.errors">
                            <input type="number" ng-model="editableFields.pointValue" required step="0.5">
                            <span class="prompt">{{ "campaign.point_value_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.reward_value" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.rewardValue.errors">
                            <input type="number" ng-model="editableFields.rewardValue" step="0.01">
                            <span class="prompt">{{ "campaign.reward_value_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.tax" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.tax.errors">
                            <input type="number" ng-model="editableFields.tax" step="1">
                            <span class="prompt">{{ "campaign.tax_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.tax_price_value" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.taxPriceValue.errors">
                            <input type="number" ng-model="editableFields.taxPriceValue" step="0.01">
                            <span class="prompt">{{ "campaign.tax_price_value_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.labels" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.labels.errors">
                            <div class="collection"
                                 ng-repeat="label in editableFields.labels track by $index">
                                <div class="row">
                                    <div class="medium-2 small-3 columns">
                                        <label>{{ "campaign.key" | translate }} <span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="medium-10 small-9 columns"
                                         form-validation="validate.labels[$index].key.errors">
                                        <input ng-model="editableFields.labels[$index].key">
                                        <span class="prompt">{{ "campaign.label_key_prompt" | translate }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-2 small-3 columns">
                                        <label>{{ "campaign.value" | translate }} <span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="medium-10 small-9 columns"
                                         form-validation="validate.labels[$index].value.errors">
                                        <input ng-model="editableFields.labels[$index].value">
                                        <span class="prompt">{{ "campaign.label_value_prompt" | translate }}</span>
                                    </div>
                                </div>

                                <button type="button" class="remove-collection"
                                        ng-click="CampaignCtrl.removeLabel($index, true)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <button type="button" class="button button-secondary tiny"
                                    ng-click="CampaignCtrl.addLabel(true)">{{
                                "campaign.add_label" | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.categories" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.categories.errors">
                            <selectize config="CampaignCtrl.categoriesConfig"
                                       options="CampaignCtrl.categories"
                                       ng-model="editableFields.categories">
                            </selectize>
                            <span class="prompt">{{ "campaign.categories_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.featured" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.featured.errors">
                            <checkbox ng-model="editableFields.featured"></checkbox>
                            <span class="prompt">{{ "campaign.featured_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.public" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.public.errors">
                            <checkbox ng-model="editableFields.public"></checkbox>
                            <span class="prompt">{{ "campaign.public_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-if="editableFields.reward == 'custom_campaign_code'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.connect_type.heading" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.connectType.errors">
                            <selectize config="CampaignCtrl.connectTypeConfig"
                                       options="CampaignCtrl.connectType"
                                       ng-init="editableFields.connectType='none'"
                                       ng-model="editableFields.connectType"
                                       ng-change="CampaignCtrl.getConnectTypeEarningRule(editableFields.connectType)">
                            </selectize>
                            <span class="prompt">{{ "campaign.connect_type_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-if="editableFields.reward == 'custom_campaign_code' && editableFields.connectType && editableFields.connectType != 'none'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.earning_rule" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.earningRuleId.errors">
                            <selectize config="CampaignCtrl.earningRuleIdConfig"
                                       options="CampaignCtrl.earningRuleId"
                                       ng-model="editableFields.earningRuleId">
                            </selectize>
                            <span class="prompt">{{ "campaign.earning_rule_prompt" | translate }} </span>
                        </div>
                    </div>
                </admin-fieldset-block>
                <fieldset class="fieldset">
                    <legend>{{ "campaign.brand_info" | translate }}</legend>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.brand_icon" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="brandIconFileValidate.file.errors">
                            <div ng-show="!campaignBrandIconFilePath">
                                <input type="file" file-model="$parent.$parent.campaignBrandIconFile">
                            </div>
                            <div ng-show="campaignBrandIconFilePath" class="campainFileWrapper">
                                <img ng-src="{{CampaignCtrl.generateBrandIconRoute()}}" style="display: inline-block;"/>
                                <button class="button button-septenary-colorized text-uppercase"
                                        style="margin-bottom:0; padding:0.95em; vertical-align: top; display: inline-block;"
                                        type="button"
                                        ng-click="CampaignCtrl.deleteBrandIcon()">
                                    {{ "global.remove" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <admin-fieldset-block fieldset-label="campaign.target">
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.target_type" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns">
                            <selectize config="CampaignCtrl.targetConfig" options="CampaignCtrl.target"
                                       ng-model="editableFields.target"></selectize>
                            <span class="prompt">{{ "campaign.target_type_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="editableFields.target=='level'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.levels" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.levels.errors">
                            <selectize config="CampaignCtrl.levelsConfig"
                                       options="CampaignCtrl.levels"
                                       ng-model="editableFields.levels">
                            </selectize>
                            <span class="prompt">{{ "campaign.levels_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="editableFields.target=='segment'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.segments" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.segments.errors">
                            <selectize config="CampaignCtrl.segmentsConfig"
                                       options="CampaignCtrl.segments"
                                       ng-model="editableFields.segments">
                            </selectize>
                            <span class="prompt">{{ "campaign.segments_prompt" | translate }} </span>
                        </div>
                    </div>
                </admin-fieldset-block>

                <admin-fieldset-block fieldset-label="campaign.limit_info"
                                      ng-if="editableFields.reward && editableFields.reward != 'cashback' && editableFields.reward != 'percentage_discount_code' && editableFields.reward !== 'custom_campaign_code'">
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.unlimited" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.unlimited.errors">
                            <checkbox ng-model="editableFields.unlimited"></checkbox>
                            <span class="prompt">{{ "campaign.unlimited_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.singleCoupon" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.singleCoupon.errors">
                            <checkbox ng-model="editableFields.singleCoupon"></checkbox>
                            <span class="prompt">{{ "campaign.singleCoupon_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="!editableFields.unlimited">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.limit" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.limit.errors">
                            <input type="number" ng-model="editableFields.limit"/>
                            <span class="prompt">{{ "campaign.limit_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="!editableFields.unlimited">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.limit_per_user" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.limitPerUser.errors">
                            <input type="number" ng-model="editableFields.limitPerUser"/>
                            <span class="prompt">{{ "campaign.limit_per_user_prompt" | translate }} </span>
                        </div>
                    </div>
                </admin-fieldset-block>

                <admin-fieldset-block fieldset-label="campaign.coupons_info" ng-if="editableFields.reward && editableFields.reward != 'cashback' && editableFields.reward !== 'custom_campaign_code' && editableFields.reward !== 'percentage_discount_code'">
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.coupons" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.coupons.errors">
                            <selectize 
                                config="CampaignCtrl.couponsConfig" 
                                options="CampaignCtrl.coupons"
                                ng-model="editableFields.coupons">
                            </selectize>
                            <span class="prompt">{{ "campaign.coupons_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.coupons_upload" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns">
                            <div ng-model="editableFields.couponsCsv" csv-upload></div>
                            <span class="prompt">{{ "campaign.coupons_upload_prompt" | translate }} </span>
                        </div>
                    </div>
                </admin-fieldset-block>

                <admin-fieldset-block fieldset-label="campaign.visibility"
                                      ng-if="editableFields.reward && editableFields.reward != 'cashback' && editableFields.reward != 'percentage_discount_code'">
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.all_time_visible" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="validate.campaignVisibility.allTimeVisible.errors">
                            <checkbox ng-model="editableFields.campaignVisibility.allTimeVisible"></checkbox>
                            <span class="prompt">{{ "campaign.all_time_visible_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="!editableFields.campaignVisibility.allTimeVisible">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.visible_from" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="validate.campaignVisibility.visibleFrom.errors">
                            <input type="text"
                                   ng-model="editableFields.campaignVisibility.visibleFrom"
                                   datepicker
                                   ng-disabled="editableFields.campaignVisibility.allTimeVisible"
                            />
                            <span class="prompt">{{ "campaign.visible_from_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="!editableFields.campaignVisibility.allTimeVisible">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.visible_to" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="validate.campaignVisibility.visibleTo.errors">
                            <input type="text"
                                   ng-model="editableFields.campaignVisibility.visibleTo"
                                   required
                                   datepicker
                                   ng-disabled="editableFields.campaignVisibility.allTimeVisible"
                            />
                            <span class="prompt">{{ "campaign.visible_to_prompt" | translate }} </span>
                        </div>
                    </div>
                </admin-fieldset-block>

                <admin-fieldset-block fieldset-label="campaign.activity">
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.all_time_active" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="validate.campaignActivity.allTimeActive.errors">
                            <checkbox ng-model="editableFields.campaignActivity.allTimeActive"></checkbox>
                            <span class="prompt">{{ "campaign.all_time_active_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="!editableFields.campaignActivity.allTimeActive">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.active_from" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="validate.campaignActivity.activeFrom.errors">
                            <input type="text"
                                   ng-model="editableFields.campaignActivity.activeFrom"
                                   datepicker
                                   ng-disabled="editableFields.campaignActivity.allTimeActive"/>
                            <span class="prompt">{{ "campaign.active_from_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="!editableFields.campaignActivity.allTimeActive">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.active_to" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="validate.campaignActivity.activeTo.errors">
                            <input type="text"
                                   ng-model="editableFields.campaignActivity.activeTo"
                                   datepicker
                                   ng-disabled="editableFields.campaignActivity.allTimeActive"/>
                            <span class="prompt">{{ "campaign.active_to_prompt" | translate }} </span>
                        </div>
                    </div>
                </admin-fieldset-block>

                <fieldset class="fieldset"
                          ng-show="editableFields.reward && editableFields.reward != 'cashback'
                            && editableFields.reward != 'percentage_discount_code'">
                    <legend>{{ "campaign.photo" | translate }}</legend>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.add_photo" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns">
                            <div data-ng-repeat="input in CampaignCtrl.campaignFiles">
                                <div form-validation="fileValidate.file.errors" ng-show="CampaignCtrl.campaignFiles[$index].visible">
                                    <input type="file" class="input-file" name="name{{$index}}" file-model="CampaignCtrl.campaignFiles[{{$index}}].file">
                                    <button ng-hide="$index === 0" class="icon-button" ng-click="CampaignCtrl.removeFileInput($event, CampaignCtrl.campaignFiles[$index].id)"><span class="fa fa-remove"></span></button>
                                    <span class="error-msg">
                                        <span>{{ CampaignCtrl.campaignFiles[$index].error }}</span>
                                    </span>
                                </div>
                            </div>
                            <button class="button button-septenary-colorized text-uppercase" ng-click="CampaignCtrl.addFileInput($event)">
                                {{ "campaign.add_another" | translate }}
                            </button>

                        </div>
                    </div>
                    <div class="row" ng-show="campaign.photos.length">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.photos" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns">

                            <div class="row campaign-photos">
                                <div class="columns medium-12">
                                    <div ng-repeat="photo in campaign.photos" class="single-photo">
                                        <div class="img-wrapper">
                                            <div class="thumb">
                                                <img ng-src="{{CampaignCtrl.generateCampaignPhotoRoute(photo.photoId.id)}}" />
                                                <button type="button" class="button button-secondary clear" ng-click="CampaignCtrl.deletePhoto(photo.photoId.id)">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="columns small-12">
                <button class="button button-septenary-colorized  float-left m-r-1" type="submit">
                    {{ "global.save" | translate }}
                </button>
                <button type="button" ui-sref="admin.campaign-list" class="button button-default float-left"
                        href="#">
                    {{ "global.cancel" | translate }}
                </button>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</form>
