<box-loader loading="CampaignCtrl.loaderStates.categoryDetails" cover="1" class="cover" delay="1000"></box-loader>

<div class="heading" ng-init="CampaignCtrl.getCategoryDetails()">
    <h1>{{ "campaign.category.edit_heading" | translate }} {{editableCategoryFields.name}}</h1>
</div>

<div style="clear:both;"></div>


<form novalidate ng-submit="CampaignCtrl.editCategory(editableCategoryFields)">
    <div class="box-content">
        <div class="row">
            <div class="columns medium-12">
                <admin-fieldset-block ng-repeat="language in availableFrontendTranslations | orderBy: 'order'" fieldset-label="{{ ('campaign.category.basic_info' | translate) + ' (' + language.name + ')' }}" togglable="true" togglable-active="{{ language.default }}">
                    <admin-fieldset-row
                            ng-repeat="field in translatableCategoryFields"
                            row-label="{{ field.label }}"
                            row-prompt="{{ field.prompt }}"
                            is-required="{{ language.default && field.required }}"
                            input-model="editableCategoryFields.translations[language.code][field.key]"
                            validate-by="validate.translations[language.code][field.key].errors">
                    </admin-fieldset-row>
                </admin-fieldset-block>
                <fieldset class="fieldset">
                    <legend>{{ "campaign.category.basic_info" | translate }}</legend>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.category.sort_order" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.sortOrder.errors">
                            <input type="number" ng-model="editableCategoryFields.sortOrder" step="1" required value="0">
                            <span class="prompt">{{ "campaign.category.sort_order_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.category.active" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.active.errors">
                            <selectize config="CampaignCtrl.activeConfig"
                                       options="CampaignCtrl.active"
                                       ng-model="editableCategoryFields.active">
                            </selectize>
                            <span class="prompt">{{ "campaign.category.active_prompt" | translate }} </span>
                        </div>
                    </div>                    
                </fieldset>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="columns small-12">
                <button class="button button-septenary-colorized  float-left m-r-1" type="submit">
                    {{ "global.save" | translate }}
                </button>
                <button type="button" ui-sref="admin.campaign-category-list" class="button button-default float-left"
                        href="#">
                    {{ "global.cancel" | translate }}
                </button>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</form>
