<box-loader loading="CampaignCtrl.loaderStates.coverLoader" cover="1" class="cover" delay="500"></box-loader>

<div class="heading" ng-init="CampaignCtrl.getRedeemedCampaigns(); CampaignCtrl.getDeliveryStatuses()">
    <h1>{{ "campaign.redeemed_heading" | translate }}</h1>
    &nbsp;
    <button class="medium button button-septenary-colorized" ng-click="exportBoughtCampaignsReport=true">
        {{ "campaign.export_csv" | translate }}
    </button>
</div>
<div style="clear:both;"></div>

<div class="client-list box" ng-hide="CampaignCtrl.loaderStates.coverLoader">
  <div class="box-title">
    <h1 class="text-left"><i class="fa fa-exchange" aria-hidden="true"></i>{{ "campaign.redeemed_list" | translate }}
    </h1>
  </div>
  <div class="box-content with-minimal-height">
    <box-loader loading="CampaignCtrl.loaderStates.redeemedCampaigns"></box-loader>
    <table ng-table="CampaignCtrl.redeemedCampaignsTableParams" show-filter="true" class="default"
           template-pagination="templatePagination.html">
      <tr ng-repeat="row in $data">
        <td data-title="'campaign.reward_redeem_date'|translate" sortable="'purchasedAt'" filter="{ purchasedAt: 'rewards-by-date'}">
          <span ng-bind="row.purchasedAt|date : 'yyyy-MM-dd HH:mm:ss'"></span>
        </td>
          <td data-title="'campaign.usage_date'|translate" sortable="'usageDate'" filter="{ usageDate: 'rewards-by-usage-date'}">
              <span ng-if="row.usageDate" ng-bind="row.usageDate|date : 'yyyy-MM-dd HH:mm:ss'"></span>
              <span ng-if="!row.usageDate">---</span>
          </td>
        <td data-title="'campaign.cost_in_points'|translate">
          <span>{{row.costInPoints}}</span>
        </td>
        <td data-title="'campaign.tax_price_value'|translate">
          <span>{{row.taxPriceValue}}</span>
        </td>
        <td data-title="'campaign.customer_email'|translate">
          <span ng-bind="row.customerEmail"></span>
        </td>
        <td data-title="'campaign.customer_phone'|translate">
          <span ng-bind="row.customerPhone"></span>
        </td>
        <td data-title="'campaign.reward_name'|translate">
          <span>{{row.campaignName + ' (' + row.coupon.code + ')'}}</span>
        </td>
        <td data-title="'campaign.reward_type'|translate">
          <span>{{row.campaignType|translate}}</span>
        </td>
        <td data-title="'campaign.customer_name'|translate">
          <span>{{row.customerName}}</span>
        </td>
        <td data-title="'campaign.customer_lastname'|translate">
          <span>{{row.customerLastname}}</span>
        </td>
        <td data-title="'campaign.current_points_amount'|translate">
          <span>{{row.currentPointsAmount}}</span>
        </td>
        <td data-title="'campaign.delivery_status'|translate" filter="{deliveryStatus: 'deliveryStatusesSelectOptions'}" sortable="'deliveryStatus'">
          <selectize
            ng-if="row.campaignType === 'gift_code' && row.used"
            config="CampaignCtrl.statusConfig"
            options="CampaignCtrl.deliveryStatusesHumanized" 
            ng-model="row.deliveryStatus.status"
            class="m-w100"
            ng-change="CampaignCtrl.setDeliveryStatus(row.deliveryStatus.status, row.customerId, row.coupon.id)"
          >
          </selectize>
          <span ng-if="row.deliveryStatus.status !== '' && ((row.campaignType === 'gift_code' && !row.used) || row.campaignType !== 'gift_code')">
              {{'campaign.delivery_statuses.'+row.deliveryStatus.status|translate}}
          </span>
        </td>
        <td data-title="'campaign.delivered'|translate" filter="{used: 'campaignsUsageSelectOptions'}">
          <checkbox ng-model="row.used"
                    ng-click="CampaignCtrl.updateCampaignUsage(row.customerId, row.campaignId, row.coupon.code, row.coupon.id, row.used)"
                    ng-if="row.campaign.reward != 'cashback'"
          />
          <span ng-if="row.campaign.reward == 'cashback'">---</span>
        </td>
        <td data-title="'campaign.actions'|translate">
            <button type="button" class="button  button-quinary tiny" ng-click="redeemedCampaigns[$index].showModal=true">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<modal show='exportBoughtCampaignsReport' modalId="exportBoughtCampaignsReport" modal-title="'campaign.export_title' | translate">
    <form novalidate>
        <fieldset class="fieldset default">
            <div class="row">
                <div class="medium-3 columns"><label>{{'campaign.date_from'|translate}}</label></div>
                <div class="medium-9 columns"><input class="form-control date-picker" datepicker type="text" ng-model="exportDateFrom"/></div>
            </div>
            <div class="row">
                <div class="medium-3 columns"><label>{{'campaign.date_to'|translate}}</label></div>
                <div class="medium-9 columns"><input class="form-control date-picker" datepicker type="text" ng-model="exportDateTo"/></div>
            </div>
            <div class="row">
                <button class="medium button button-septenary-colorized" ng-click="CampaignCtrl.downloadRedeemedCampaignsReportCSV(exportDateFrom, exportDateTo)">
                    {{ "campaign.download_report" | translate }}
                </button>
            </div>
        </fieldset>
    </form>
</modal>

<modal ng-repeat="row in redeemedCampaigns" show='redeemedCampaigns[$index].showModal'
       modalId="{{row.coupon.id}}" modal-title="'campaign.details' | translate">
    <table class="default">
        <tbody>
            <tr>
                <td><b>{{ "campaign.customer_name" | translate }}:</b></td>
                <td><span ng-bind="row.customerName || '---'"></span></td>
            </tr>
            <tr>
                <td><b>{{ "campaign.customer_lastname" | translate }}:</b></td>
                <td><span ng-bind="row.customerLastname || '---'"></span></td>
            </tr>

            <tr>
                <td><b>{{ "campaign.campaign_shipping_address.street" | translate }}:</b></td>
                <td><span ng-bind="row.campaignShippingAddress.street || '---'"></span></td>
            </tr>
            <tr>
                <td><b>{{ "campaign.campaign_shipping_address.house_number" | translate }}:</b></td>
                <td><span ng-bind="row.campaignShippingAddress.address1 || '---'"></span></td>
            </tr>
            <tr>
                <td><b>{{ "campaign.campaign_shipping_address.building_number" | translate }}:</b></td>
                <td><span ng-bind="row.campaignShippingAddress.address2 || '---'"></span></td>
            </tr>
            <tr>
                <td><b>{{ "campaign.campaign_shipping_address.voivodeship" | translate }}:</b></td>
                <td><span ng-bind="row.campaignShippingAddress.province || '---'"></span></td>
            </tr>
            <tr>
                <td><b>{{ "campaign.campaign_shipping_address.city" | translate }}:</b></td>
                <td><span ng-bind="row.campaignShippingAddress.city || '---'"></span></td>
            </tr>
            <tr>
                <td><b>{{ "campaign.campaign_shipping_address.postal_code" | translate }}:</b></td>
                <td><span ng-bind="row.campaignShippingAddress.postal || '---'"></span></td>
            </tr>
            <tr>
                <td><b>{{ "campaign.campaign_shipping_address.country" | translate }}:</b></td>
                <td><span ng-bind="row.campaignShippingAddress.country || '---'"></span></td>
            </tr>
        </tbody>
    </table>
</modal>

<script type="text/ng-template" id="ng-table/filters/campaignsUsageSelectOptions.html">
  <selectize ng-disabled="$filterRow.disabled" options="CampaignCtrl.campaignsUsageSelectOptions"
             config="CampaignCtrl.campaignUsageSelectConfig" ng-model="params.filter()[name]">
  </selectize>
</script>
<script type="text/ng-template" id="ng-table/filters/deliveryStatusesSelectOptions.html">
  <selectize ng-disabled="$filterRow.disabled" options="CampaignCtrl.deliveryStatusesSelectOptions"
              config="CampaignCtrl.deliveryStatusSelectConfig" ng-model="params.filter()[name]">
  </selectize>
</script>
<script type="text/ng-template" id="ng-table/filters/rewards-by-date.html">
    <label>{{'campaign.date_from'|translate}} <input class="form-control date-picker" datepicker type="text" ng-model="params.filter()[name+'From']"/></label>
    <label>{{'campaign.date_to'|translate}} <input class="form-control date-picker" datepicker type="text" ng-model="params.filter()[name+'To']"/></label>
</script>
<script type="text/ng-template" id="ng-table/filters/rewards-by-usage-date.html">
    <label>{{'campaign.date_from'|translate}} <input class="form-control date-picker" datepicker type="text" ng-model="params.filter()[name+'From']"/></label>
    <label>{{'campaign.date_to'|translate}} <input class="form-control date-picker" datepicker type="text" ng-model="params.filter()[name+'To']"/></label>
</script>
