<div class="heading" ng-init="CampaignCtrl.getCampaignData()">
    <h1>{{ "campaign.details_heading" | translate }}</h1>
</div>

<div style="clear:both;"></div>

<div class="row">
    <div class="columns small-12 medium-12">
        <div class="box no-margin">
            <div class="box-title">
                <h1>{{ "campaign.basic_info"|translate }}
                    <div class="action-buttons float-right">
                        <button ng-show="CampaignCtrl.AuthService.hasPermission('REWARD_CAMPAIGN', 'MODIFY')" class="tiny button button-primary"
                                style="margin-top: 8px;"
                                ui-sref="admin.edit-campaign({campaignId: campaign.id})">
                            <i class="fa fa-pencil" style="padding:0!important"></i>
                        </button>
                    </div>
                </h1>
            </div>
            <div class="box-content">
                <box-loader loading="CampaignCtrl.loaderStates.campaignDetails"></box-loader>
                <table class="default">
                    <tbody>
                    <tr>
                        <td><b>{{ "campaign.name"|translate }}:</b></td>
                        <td><span ng-bind="campaign.name || '---'"></span></td>
                    </tr>
                    <tr>
                        <td><b>{{ "campaign.reward"|translate }}:</b></td>
                        <td><span ng-bind="campaign.reward || '---'"></span></td>
                    </tr>
                    <tr ng-if="campaign.reward && campaign.reward == 'custom_campaign_code'">
                        <td><b>{{ "campaign.connect_type.heading"|translate }}:</b></td>
                        <td><span ng-bind="campaign.connectType || '---'"></span></td>
                    </tr>
                    <tr ng-if="campaign.reward && campaign.reward == 'custom_campaign_code' && campaign.connectType !== 'none' && campaign.earningRule.name">
                        <td><b>{{ "campaign.earning_rule"|translate }}:</b></td>
                        <td><span ng-bind="campaign.earningRule.name || '---'"></span></td>
                    </tr>
                    <tr ng-if="campaign.reward && campaign.reward == 'custom_campaign_code' && campaign.connectType !== 'none' && campaign.earningRule.pointsAmount">
                        <td><b>{{ "campaign.earning_rule_points_amount"|translate }}:</b></td>
                        <td><span ng-bind="campaign.earningRule.pointsAmount || '---'"></span></td>
                    </tr>
                    <tr>
                        <td><b>{{ "campaign.short_description"|translate }}:</b></td>
                        <td><span markdown-to-html="campaign.shortDescription || '---'"></span></td>
                    </tr>
                    <tr ng-if="campaign.reward === 'gift_code'">
                        <td><b>{{ "campaign.fulfillment_tracking"|translate }}:</b></td>
                        <td><span ng-bind="campaign.fulfillmentTracking || '---'"></span></td>
                    </tr>
                    <tr>
                        <td><b>{{ "campaign.more_information_link"|translate }}:</b></td>
                        <td>
                            <a class="link" ng-if="campaign.moreInformationLink" ng-href="{{campaign.moreInformationLink}}" target="_blank">
                                {{campaign.moreInformationLink}}
                            </a>
                            <span ng-if="!campaign.moreInformationLink">---</span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>{{ "campaign.push_notification_text"|translate }}:</b></td>
                        <td>
                            {{campaign.pushNotificationText}}
                            <span ng-if="!campaign.pushNotificationText">---</span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>{{ "campaign.conditions_description"|translate }}:</b></td>
                        <td><span markdown-to-html="campaign.conditionsDescription || '---'"></span></td>
                    </tr>
                    <tr>
                        <td><b>{{ "campaign.brand_description"|translate }}:</b></td>
                        <td><span markdown-to-html="campaign.brandDescription || '---'"></span></td>
                    </tr>
                    <tr ng-if="campaign.categories.length">
                        <td><b>{{ "campaign.categories"|translate }}:</b></td>
                        <td>
                            <label class="label label-default" ng-repeat="l in campaign.categories track by $index">
                                {{campaign.categoryNames && campaign.categoryNames[l] ? campaign.categoryNames[l] : l}}
                            </label>
                        </td>
                    </tr>
                    <tr ng-if="campaign.reward && campaign.reward != 'cashback' && campaign.reward != 'custom_campaign_code'">
                        <td><b>{{ "campaign.cost_in_points"|translate }}:</b></td>
                        <td><span ng-bind="campaign.costInPoints || '---'"></span></td>
                    </tr>
                    <tr ng-if="campaign.reward && campaign.reward == 'cashback'">
                        <td><b>{{ "campaign.point_value"|translate }}:</b></td>
                        <td><span ng-bind="campaign.pointValue || '---'"></span></td>
                    </tr>
                    <tr ng-if="campaign.transactionPercentageValue && campaign.reward == 'percentage_discount_code'">
                        <td><b>{{ "campaign.transaction_percentage_value"|translate }}:</b></td>
                        <td><span ng-bind="campaign.transactionPercentageValue || '---'"></span></td>
                    </tr>
                    <tr ng-if="campaign.daysInactive && campaign.reward !== 'cashback' && campaign.reward !== 'custom_campaign_code'">
                        <td><b>{{ "campaign.days_inactive"|translate }}:</b></td>
                        <td><span ng-bind="campaign.daysInactive || '---'"></span></td>
                    </tr>
                    <tr ng-if="campaign.daysValid && campaign.reward !== 'cashback' && campaign.reward !== 'custom_campaign_code'">
                        <td><b>{{ "campaign.days_valid"|translate }}:</b></td>
                        <td><span ng-bind="campaign.daysValid || '---'"></span></td>
                    </tr>
                    <tr>
                        <td><b>{{ "campaign.reward_value"|translate }}:</b></td>
                        <td><span ng-bind="campaign.rewardValue || '---'"></span></td>
                    </tr>
                    <tr>
                        <td><b>{{ "campaign.tax"|translate }}:</b></td>
                        <td><span ng-bind="campaign.tax || '---'"></span><span ng-if="campaign.tax">%</span></td>
                    </tr>
                    <tr>
                        <td><b>{{ "campaign.tax_price_value"|translate }}:</b></td>
                        <td><span ng-bind="campaign.taxPriceValue || '---'"></span></td>
                    </tr>
                    <tr>
                        <td><b>{{ "campaign.active"|translate }}:</b></td>
                        <td>
                            <span ng-show="campaign.active">{{ "global.active"|translate }}</span>
                            <span ng-show="!campaign.active">{{ "global.inactive"|translate }}</span>
                        </td>
                    </tr>
                    <tr ng-if="campaign.levels.length">
                        <td><b>{{ "campaign.levels"|translate }}:</b></td>
                        <td>
                            <label class="label label-default" ng-repeat="l in campaign.levels track by $index">
                                {{campaign.levelNames && campaign.levelNames[l] ? campaign.levelNames[l] : l}}
                            </label>
                        </td>
                    </tr>
                    <tr ng-if="campaign.segments.length">
                        <td><b>{{ "campaign.segments"|translate }}:</b></td>
                        <td>
                            <label class="label label-default" ng-repeat="s in campaign.segments track by $index">
                                {{campaign.segmentNames && campaign.segmentNames[s] ? campaign.segmentNames[s] : s}}
                            </label>
                        </td>
                    </tr>
                    <tr ng-if="campaign.reward && campaign.reward != 'cashback' && campaign.reward !== 'custom_campaign_code'">
                        <td><b>{{ "campaign.limit"|translate }}:</b></td>
                        <td>
                            <span ng-bind="campaign.limit" ng-if="!campaign.unlimited"></span>
                            <span ng-if="campaign.unlimited">{{"global.unlimited"|translate}}</span>
                        </td>
                    </tr>
                    <tr ng-if="campaign.reward && campaign.reward != 'cashback' && campaign.reward !== 'custom_campaign_code'">
                        <td><b>{{ "campaign.limit_per_user"|translate }}:</b></td>
                        <td>
                            <span ng-bind="campaign.limitPerUser" ng-if="!campaign.unlimited"></span>
                            <span ng-if="campaign.unlimited">{{"global.unlimited"|translate}}</span>
                        </td>
                    </tr>
                    <tr ng-if="campaign.reward && campaign.reward != 'cashback' && campaign.reward !== 'custom_campaign_code'">
                        <td><b>{{ "campaign.coupons"|translate }}:</b></td>
                        <td><label class="label label-default" ng-repeat="c in campaign.coupons track by $index">
                            {{c}}</label>
                        </td>
                    </tr>
                    <tr ng-if="campaign.reward && campaign.reward != 'cashback' && campaign.reward !== 'custom_campaign_code'">
                        <td><b>{{ "campaign.usage_instruction"|translate }}:</b></td>
                        <td>
                            <span markdown-to-html="campaign.usageInstruction || '---'"></span>
                        </td>
                    </tr>
                    <tr ng-if="campaign.reward && campaign.reward != 'cashback'">
                        <td><b>{{ "campaign.all_time_visible"|translate }}:</b></td>
                        <td><span ng-bind="campaign.campaignVisibility.allTimeVisible"></span></td>
                    </tr>
                    <tr ng-if="campaign.reward && campaign.reward != 'cashback' && !campaign.campaignVisibility.allTimeVisible">
                        <td><b>{{ "campaign.visible_from"|translate }}:</b></td>
                        <td><span
                                ng-bind="campaign.campaignVisibility.visibleFrom|date : 'yyyy-MM-dd HH:mm'"></span>
                        </td>
                    </tr>
                    <tr ng-if="campaign.reward && campaign.reward != 'cashback' && !campaign.campaignVisibility.allTimeVisible">
                        <td><b>{{ "campaign.visible_to"|translate }}:</b></td>
                        <td><span ng-bind="campaign.campaignVisibility.visibleTo|date : 'yyyy-MM-dd HH:mm'"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>{{ "campaign.all_time_active"|translate }}:</b></td>
                        <td><span
                                ng-bind="campaign.campaignActivity.allTimeActive"></span>
                        </td>
                    </tr>
                    <tr ng-if="!campaign.campaignActivity.allTimeActive">
                        <td><b>{{ "campaign.active_from"|translate }}:</b></td>
                        <td><span ng-bind="campaign.campaignActivity.activeFrom|date : 'yyyy-MM-dd HH:mm'"></span>
                        </td>
                    </tr>
                    <tr ng-if="!campaign.campaignActivity.allTimeActive">
                        <td><b>{{ "campaign.active_to"|translate }}:</b></td>
                        <td><span ng-bind="campaign.campaignActivity.activeTo|date : 'yyyy-MM-dd HH:mm'"></span>
                        </td>
                    </tr>
                    <tr ng-if="campaign.reward && campaign.reward != 'cashback' && campaign.photos">
                        <td><b>{{ "campaign.photo" | translate }}:</b></td>
                        <td class="campaign-photos">
                            <div ng-repeat="photo in campaign.photos" class="single-photo">
                                <div class="img-wrapper">
                                    <div class="thumb">
                                        <img ng-src="{{CampaignCtrl.generateCampaignPhotoRoute(photo.photoId.id)}}" />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="campaign.labels && campaign.labels.length > 0">
                        <td><b>{{ "campaign.labels"|translate }}:</b></td>
                        <td>
                            <label class="label label-default" ng-repeat="label in campaign.labels">
                                {{ label.key }}:{{ label.value }}
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td><b>{{ "campaign.featured"|translate }}:</b></td>
                        <td><span ng-bind="campaign.featured || '---'"></span></td>
                    </tr>
                    <tr>
                        <td><b>{{ "campaign.public"|translate }}:</b></td>
                        <td><span ng-bind="campaign.public || '---'"></span></td>
                    </tr>
                    <tr>
                        <td><b>{{ "campaign.brand_name"|translate }}:</b></td>
                        <td><span ng-bind="campaign.brandName || '---'"></span></td>
                    </tr>
                    <tr ng-if="campaignBrandIconFilePath">
                        <td><b>{{ "campaign.brand_icon" | translate }}:</b></td>
                        <td><img ng-src="{{CampaignCtrl.generateBrandIconRoute()}}" style="width:300px"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
