<div class="row">
    <div class="medium-2 small-3 columns">
        <label>{{ rowLabel | translate }} <span class="required" ng-if="isRequired === 'true'">*</span></label>
    </div>
    <div class="medium-10 small-9 columns" form-validation="validateBy">
        <input ng-if="inputType === 'text'" type="text" ng-model="newModel" ng-required="isRequired === 'true'" ng-change="onInputValueChange(newModel)">
        <textarea ng-if="inputType === 'textarea'" ng-model="newModel" ng-required="isRequired === 'true'" ng-change="onInputValueChange(newModel)"></textarea>
        <textarea ng-if="inputType === 'simplemde'" simplemde="{ hideIcons:['image', 'fullscreen', 'side-by-side'], showIcons: ['strikethrough', 'code'] }" ng-model="newModel" ng-required="isRequired === 'true'"
                  ng-change="onInputValueChange(newModel)"></textarea>
        <span class="prompt">{{ rowPrompt | translate }}</span>
    </div>
</div>
