<section class="login admin text-center" ng-init="CustomerLoginCtrl.getTerms();">
    <div class="row customer-terms-conditions">
        <div class="small-12 small-centered columns">
            <div class="logo text-center">
                <img id="openLoyaltyLogo" ng-src="{{RootCtrl.logo}}" style="display: inline-block;"/>
            </div>
            <div class="inline-wrapper">
                <div class="form-box">
                    <div class="forgot text-center">
                        <a href="#" ui-sref="customer-terms-conditions" ng-click="CustomerLoginCtrl.getTerms();">
                            {{ "customer_security.login.get_terms_conditions" | translate }}
                        </a>
                    </div>
                    <div class="forgot text-center">
                        <a href="#" ui-sref="customer-login">
                            {{ "customer_security.back_to_login"|translate }}
                        </a>
                    </div>
                </div>
            </div>
            <p class="text-center">
                <small class="whisper">{{ "customer_security.login.copyrights" | translate }}</small>
            </p>
        </div>
    </div>
</section>
