<box-loader loading="EarningRuleCtrl.loaderStates.earningRuleDetails" cover="1" class="cover" delay="1000"></box-loader>

<div class="heading">
    <h1>{{ "earning_rule.add_heading" | translate }}</h1>
</div>

<div style="clear:both;"></div>
<form novalidate ng-submit="EarningRuleCtrl.addEarningRule(newEarningRule)">
    <div class="box-content">
        <div class="row">

            <div class="columns medium-12">
                <fieldset class="fieldset">
                    <legend>{{ "earning_rule.basic_info" | translate }}</legend>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.name" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.name.errors">
                            <input type="text" ng-model="newEarningRule.name" required>
                            <span class="prompt">{{ "earning_rule.name_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.description" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.description.errors">
                            <textarea ng-model="newEarningRule.description" required></textarea>
                            <span class="prompt">{{ "earning_rule.description_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.active" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.active.errors"
                             ng-init="newEarningRule.active=0">
                            <selectize ng-model="newEarningRule.active"
                                       options="EarningRuleCtrl.active"
                                       config="EarningRuleCtrl.activeConfig"
                                       required
                            ></selectize>
                            <span class="prompt">{{ "earning_rule.active_prompt" | translate }}</span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="columns medium-12">
                <fieldset class="fieldset">
                    <legend>{{ "earning_rule.type_details" | translate }}</legend>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.type" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.type.errors">
                            <selectize ng-model="newEarningRule.type"
                                       options="EarningRuleCtrl.types"
                                       config="EarningRuleCtrl.typeConfig"
                            ></selectize>
                            <span class="prompt">{{ "earning_rule.type_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='points'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.point_value" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.pointValue.errors">
                            <input type="number" ng-model="newEarningRule.pointValue" step="0.01">
                            <span class="prompt">{{ "earning_rule.point_value_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='points'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.excluded_skus" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns">
                            <selectize config="skusConfig" options="egSkus"
                                       ng-model="newEarningRule.excludedSKUs"></selectize>
                            <span class="prompt">{{ "earning_rule.excluded_skus_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='points'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.labels_inclusion_type" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.labelsInclusionType.errors">
                            <selectize ng-model="newEarningRule.labelsInclusionType"
                                       options="EarningRuleCtrl.labelsInclusionType"
                                       config="EarningRuleCtrl.labelsInclusionTypeConfig"
                            ></selectize>
                            <span class="prompt">{{ "earning_rule.labels_inclusion_type_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='points' && newEarningRule.labelsInclusionType=='exclude_labels'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.excluded_labels" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" ng-init="newEarningRule.excludedLabels=[]">
                            <div class="collection" ng-repeat="label in newEarningRule.excludedLabels">
                                <div class="row">
                                    <div class="medium-2 small-3 columns">
                                        <label>{{ "earning_rule.key" | translate }} <span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="medium-10 small-9 columns"
                                         form-validation="validate.excludedLabels[$index].key.errors">
                                        <input ng-model="newEarningRule.excludedLabels[$index].key">
                                        <span class="prompt">{{ "earning_rule.key_prompt" | translate }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-2 small-3 columns">
                                        <label>{{ "earning_rule.value" | translate }} <span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="medium-10 small-9 columns"
                                         form-validation="validate.excludedLabels[$index].value.errors">
                                        <input ng-model="newEarningRule.excludedLabels[$index].value">
                                        <span class="prompt">{{ "earning_rule.label_value_prompt" | translate }}</span>
                                    </div>
                                </div>

                                <button type="button" class="remove-collection"
                                        ng-click="EarningRuleCtrl.removeExcludedLabel($index)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <button type="button" class="button button-secondary tiny"
                                    ng-click="EarningRuleCtrl.addExcludedLabel()">{{
                                "earning_rule.add_excluded_label" | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='points' && newEarningRule.labelsInclusionType=='include_labels'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.included_labels" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" ng-init="newEarningRule.includedLabels=[]">
                            <div class="collection"
                                 ng-repeat="label in newEarningRule.includedLabels track by $index">
                                <div class="row">
                                    <div class="medium-2 small-3 columns">
                                        <label>{{ "earning_rule.key" | translate }} <span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="medium-10 small-9 columns"
                                         form-validation="validate.includedLabels[$index].key.errors">
                                        <input ng-model="newEarningRule.includedLabels[$index].key">
                                        <span class="prompt">{{ "earning_rule.key_prompt" | translate }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-2 small-3 columns">
                                        <label>{{ "earning_rule.value" | translate }} <span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="medium-10 small-9 columns"
                                         form-validation="validate.includedLabels[$index].value.errors">
                                        <input ng-model="newEarningRule.includedLabels[$index].value">
                                        <span class="prompt">{{ "earning_rule.label_value_prompt" | translate }}</span>
                                    </div>
                                </div>

                                <button type="button" class="remove-collection"
                                        ng-click="EarningRuleCtrl.removeIncludedLabel($index, false)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <button type="button" class="button button-secondary tiny"
                                    ng-click="EarningRuleCtrl.addIncludedLabel(false)">{{
                                "earning_rule.add_included_label" | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='points'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.exclude_delivery_cost" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.excludeDeliveryCost.errors">
                            <checkbox ng-model="newEarningRule.excludeDeliveryCost"></checkbox>
                            <span class="prompt">{{ "earning_rule.excluded_delivery_cost_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='points'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.min_order_value" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.minOrderValue.errors">
                            <input type="number" ng-model="newEarningRule.minOrderValue">
                            <span class="prompt">{{ "earning_rule.min_order_value_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='event'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.event_name" | translate }}<span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.eventName.errors">
                            <selectize options="EarningRuleCtrl.promotedEvents"
                                       config="EarningRuleCtrl.promotedEventsConfig"
                                       ng-model="newEarningRule.eventName"></selectize>
                            <span class="prompt">{{ "earning_rule.event_name_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='referral'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.event_name" | translate }}<span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.eventName.errors">
                            <selectize options="EarningRuleCtrl.referralEvents"
                                       config="EarningRuleCtrl.referralEventsConfig"
                                       ng-model="newEarningRule.eventName"></selectize>
                            <span class="prompt">{{ "earning_rule.event_name_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='referral'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.reward" | translate }}<span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.rewardType.errors">
                            <selectize options="EarningRuleCtrl.referralTypes"
                                       config="EarningRuleCtrl.referralTypesConfig"
                                       ng-model="newEarningRule.rewardType"></selectize>
                            <span class="prompt">{{ "earning_rule.reward_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='geolocation'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.latitude" | translate }}
                                <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.latitude.errors">
                            <input type="text"
                                   ng-model="newEarningRule.latitude"/>
                            <span class="prompt">{{ "earning_rule.latitude_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='geolocation'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.longitude" | translate }}
                                <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.longitude.errors">
                            <input type="text"
                                   ng-model="newEarningRule.longitude"/>
                            <span class="prompt">{{ "earning_rule.longitude_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='geolocation'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.radius" | translate }}
                                <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.radius.errors">
                            <input type="number"
                                   ng-model="newEarningRule.radius"/>
                            <span class="prompt">{{ "earning_rule.radius_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='qrcode'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.code" | translate }}
                                <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.code.errors">
                            <input type="text" ng-model="newEarningRule.code" required>
                            <span class="prompt">{{ "earning_rule.code_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='custom_event'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.custom_event_name" | translate }}<span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.eventName.errors">
                            <input type="text"
                                   ng-model="newEarningRule.eventName"/>
                            <span class="prompt">{{ "earning_rule.custom_event_name_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row"
                         ng-if="newEarningRule.type=='product_purchase' || newEarningRule.type=='multiply_for_product'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.sku" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.skuIds.errors">
                            <selectize config="skusConfig" options="egSkus"
                                       ng-model="newEarningRule.skuIds"></selectize>
                            <span class="prompt">{{ "earning_rule.sku_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row"
                         ng-if="newEarningRule.type=='event' || newEarningRule.type=='geolocation' || newEarningRule.type=='custom_event' || newEarningRule.type=='product_purchase' || newEarningRule.type=='qrcode'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.points_amount" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.pointsAmount.errors">
                            <input type="number" ng-model="newEarningRule.pointsAmount" step="0.5">
                            <span class="prompt">{{ "earning_rule.points_amount_prompt" | translate }}</span>
                        </div>
                    </div>          <div class="row"
                                         ng-if="newEarningRule.type=='referral'">
                    <div class="medium-2 small-3 columns">
                        <label>{{ "earning_rule.points_amount" | translate }} <span
                                class="required">*</span></label>
                    </div>
                    <div class="medium-10 small-9 columns" form-validation="validate.pointsAmount.errors">
                        <input type="number" ng-model="newEarningRule.pointsAmount" step="0.5">
                        <span class="prompt">{{ "earning_rule.points_amount_prompt" | translate }}</span>
                    </div>
                </div>
                    <div class="row" ng-if="newEarningRule.type=='custom_event'||newEarningRule.type=='qrcode'||newEarningRule.type=='geolocation'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.limit.active" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.active.errors">
                            <checkbox ng-model="newEarningRule.limit.active"></checkbox>
                            <span class="prompt">{{ "earning_rule.limit.active_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="(newEarningRule.type=='custom_event'||newEarningRule.type=='qrcode'||newEarningRule.type=='geolocation') && newEarningRule.limit.active">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.limit.period" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.limit.period.errors">
                            <selectize config="EarningRuleCtrl.availableEarningRuleLimitPeriodsConfig"
                                       options="EarningRuleCtrl.availableEarningRuleLimitPeriods"
                                       ng-model="newEarningRule.limit.period"></selectize>

                            <span class="prompt">{{ "earning_rule.limit.period_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="(newEarningRule.type=='custom_event'||newEarningRule.type=='qrcode'||newEarningRule.type=='geolocation') && newEarningRule.limit.active">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.limit.limit" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.limit.limit.errors">
                            <input type="number"
                                   ng-model="newEarningRule.limit.limit"/>
                            <span class="prompt">{{ "earning_rule.limit.limit_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row"
                         ng-if="newEarningRule.type=='multiply_for_product'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.multiplier" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.multiplier.errors">
                            <input type="number" step="0.01" ng-model="newEarningRule.multiplier">
                            <span class="prompt">{{ "earning_rule.multiplier_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="newEarningRule.type=='multiply_by_product_labels'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.label_multipliers" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" ng-init="newEarningRule.labelMultipliers=[]">
                            <div class="collection" ng-repeat="labelMultiplier in newEarningRule.labelMultipliers">
                                <div class="row">
                                    <div class="medium-2 small-3 columns">
                                        <label>{{ "earning_rule.key" | translate }} <span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="medium-10 small-9 columns"
                                         form-validation="validate.labelMultipliers[$index].key.errors">
                                        <input type="text" ng-model="newEarningRule.labelMultipliers[$index].key">
                                        <span class="prompt">{{ "earning_rule.key_prompt" | translate }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-2 small-3 columns">
                                        <label>{{ "earning_rule.value" | translate }} <span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="medium-10 small-9 columns"
                                         form-validation="validate.labelMultipliers[$index].value.errors">
                                        <input type="text" ng-model="newEarningRule.labelMultipliers[$index].value">
                                        <span class="prompt">{{ "earning_rule.label_value_prompt" | translate }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-2 small-3 columns">
                                        <label>{{ "earning_rule.multiplier" | translate }} <span
                                                class="required">*</span></label>
                                    </div>
                                    <div class="medium-10 small-9 columns"
                                         form-validation="validate.labelMultipliers[$index].multiplier.errors">
                                        <input ng-model="newEarningRule.labelMultipliers[$index].multiplier" type="number" step="0.01">
                                        <span class="prompt">{{ "earning_rule.label_multiplier_prompt" | translate }}</span>
                                    </div>
                                </div>

                                <button type="button" class="remove-collection"
                                        ng-click="EarningRuleCtrl.removeLabelMultiplier($index)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                            <button type="button" class="button button-secondary tiny"
                                    ng-click="EarningRuleCtrl.addLabelMultiplier()">{{
                                "earning_rule.add_label_multiplier" | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-if="EarningRuleCtrl.isStoppable(newEarningRule.type)">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.last_executed_rule" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.lastExecutedRule.errors">
                            <checkbox ng-model="newEarningRule.lastExecutedRule"></checkbox>
                            <span class="prompt">{{ "earning_rule.last_executed_rule_prompt" | translate }}</span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="columns medium-12">
                <fieldset class="fieldset">
                    <legend>{{ "earning_rule.visibility_and_activity"|translate }}</legend>

                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.all_time_active" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.allTimeActive.errors">
                            <checkbox ng-model="newEarningRule.allTimeActive"></checkbox>
                            <span class="prompt">{{ "earning_rule.all_time_active_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-hide="newEarningRule.allTimeActive">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.start_at" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.startAt.errors">
                            <input type="text" ng-model="newEarningRule.startAt" datepicker>
                            <span class="prompt">{{ "earning_rule.start_at_prompt" | translate }}</span>
                        </div>
                    </div>
                    <div class="row" ng-hide="newEarningRule.allTimeActive">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.end_at" | translate }} <span
                                    class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.endAt.errors">
                            <input type="text" ng-model="newEarningRule.endAt" datepicker>
                            <span class="prompt">{{ "earning_rule.end_at_prompt" | translate }}</span>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldset">
                    <legend>POS</legend>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.pos" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.pos.errors">
                            <selectize config="EarningRuleCtrl.posConfig"
                                       options="EarningRuleCtrl.pos"
                                       ng-model="newEarningRule.pos">
                            </selectize>
                            <span class="prompt">{{ "earning_rule.pos_prompt" | translate }} </span>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldset" ng-show="newEarningRule.type != 'event' || newEarningRule.eventName != 'oloy.account.created'">
                    <legend>Target</legend>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.target_type" | translate }} </label>
                        </div>
                        <div class="medium-10 small-9 columns" ng-init="newEarningRule.target='level'">
                            <selectize config="EarningRuleCtrl.targetConfig" options="EarningRuleCtrl.target"
                                       ng-model="newEarningRule.target"></selectize>
                            <span class="prompt">{{ "campaign.target_type_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="newEarningRule.target=='level'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.levels" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.levels.errors">
                            <selectize config="EarningRuleCtrl.levelsConfig"
                                       options="EarningRuleCtrl.levels"
                                       ng-model="newEarningRule.levels">
                            </selectize>
                            <span class="prompt">{{ "campaign.levels_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row" ng-show="newEarningRule.target=='segment'">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "campaign.segments" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.segments.errors">
                            <selectize config="EarningRuleCtrl.segmentsConfig"
                                       options="EarningRuleCtrl.segments"
                                       ng-model="newEarningRule.segments">
                            </selectize>
                            <span class="prompt">{{ "campaign.segments_prompt" | translate }} </span>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldset">
                    <legend>{{ "earning_rule.photo" | translate }}</legend>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.photo" | translate }}</label>
                        </div>
                        <div class="medium-10 small-9 columns"
                             form-validation="fileValidate.file.errors">
                            <div ng-show="!earningRuleImagePath">
                                <input type="file" file-model="$parent.$parent.earningRulePhoto" style="padding:9px">
                            </div>
                            <div ng-show="earningRuleImagePath" class="earningRuleFileWrapper">
                                <img ng-src="{{EarningRuleCtrl.generatePhotoRoute()}}" style="display: inline-block;"/>
                                <button class="button button-septenary-colorized text-uppercase"
                                        style="margin-bottom:0; padding:0.95em; vertical-align: top; display: inline-block;"
                                        type="button"
                                        ng-click="EarningRuleCtrl.deletePhoto()">
                                    {{ "global.remove" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldset"
                          ng-show="newEarningRule && newEarningRule.type=='instant_reward'">
                    <legend>{{ "earning_rule.reward_campaign" | translate }}</legend>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>{{ "earning_rule.reward_campaign" | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.rewardCampaignId.errors">
                            <selectize
                                    config="EarningRuleCtrl.rewardCampaignConfig"
                                    options="EarningRuleCtrl.rewardCampaigns"
                                    style="border-radius:0"
                                    ng-model="newEarningRule.rewardCampaignId"
                                    required
                            >
                            </selectize>
                            <span class="prompt">{{ "earning_rule.reward_campaign_prompt" | translate }}</span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="box-footer" ng-init="EarningRuleCtrl.loaderStates.earningRuleDetails=false">
        <div class="row">
            <div class="columns small-12">
                <button class="button  button-septenary-colorized float-left m-r-1" type="submit">
                    {{ "global.save" | translate}}
                </button>
                <button type="button" ui-sref="admin.earning-rule-list" class="button  button-quaternary float-left">
                    {{ "global.cancel" | translate }}
                </button>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</form>
