frontend/node_modules
!frontend/dist/node_modules
.idea
.vagrant
.vscode
.php_cs.cache
cs_fixer*
/frontend/npm-debug.log

backend/app/cache/
backend/app/log/
backend/app/Resources/frontend_translations/
backend/var/cache/

hosts
tools/deployment/deploy.retry
/esdata/
/postgres_data/
frontend/yarn-error.log
/backend/app/uploads/
/docker/docker-compose.local.yml
/docker/dev/php/fpm-dockerfile.local
/docker/dev/web/front-dockerfile.local
/docker/local
/backend/app/var/import/*
