<fieldset class="fieldset" ng-class="{ togglable: togglable === 'true' }">
    <a ng-if="togglable === 'true'" toggle-control="{{ togglableId }}" toggle-control-button="{{ togglableId + '-button' }}" toggle-control-active="{{ togglableActive === 'true' }}">
        <legend>{{ fieldsetLabel | translate }}</legend>
        <p id="{{ togglableId + '-button' }}" class="fieldset-toggle-button"></p>
    </a>
    <div ng-if="togglable === 'true'" id="{{ togglableId }}" class="togglable-content">
        <ng-transclude></ng-transclude>
    </div>

    <legend ng-if="togglable !== 'true'">{{ fieldsetLabel | translate }}</legend>
    <ng-transclude ng-if="togglable !== 'true'"></ng-transclude>
</fieldset>
