<box-loader loading="TranslationsCtrl.loaderStates.coverLoader" cover="1" class="cover" delay="1000"></box-loader>

<div class="heading" ng-init="TranslationsCtrl.getData()">
    <h1>{{ "admin.translations.heading" | translate }}</h1>
    <div class="action-buttons">
        <button ng-show="TranslationsCtrl.AuthService.hasPermission('SETTINGS', 'MODIFY')" class="medium button button-septenary-colorized" ui-sref="admin.translations_add">
            {{ "admin.translations.add" | translate }}
        </button>
    </div>
</div>
<div style="clear:both"></div>
<div class="client-list box">
    <div class="box-title">
        <h1 class="text-left">{{ "admin.translations.list" | translate }}</h1>
    </div>
    <div class="box-content">
        <box-loader loading="TranslationsCtrl.loaderStates.translationList"></box-loader>
        <table ng-table="TranslationsCtrl.tableParams" class="default" template-pagination="templatePagination.html">
            <tr ng-repeat="row in $data">
                <td data-title="'admin.translations.code'|translate" sortable="'code'">
                    <span ng-bind="row.code || ('global.not_set'|translate)"></span>
                </td>
                <td data-title="'admin.translations.name'|translate" sortable="'name'">
                    <span ng-bind="row.name || ('global.not_set'|translate)"></span>
                </td>
                <td data-title="'admin.translations.updated_at'|translate" sortable="'description'">
                    <span ng-bind="row.updatedAt|date: 'yyyy-MM-dd HH:mm'"></span>
                </td>
                <td data-title="'admin.translations.default'|translate" sortable="'default'">
                    <span ng-if="!row.default" ng-bind="'global.no'|translate"></span>
                    <span ng-if="row.default" ng-bind="'global.yes'|translate"></span>
                </td>
                <td data-title="'admin.translations.actions'|translate">
                    <button ng-show="TranslationsCtrl.AuthService.hasPermission('SETTINGS', 'MODIFY')" type="button" class="button  button-secondary tiny"
                            ui-sref="admin.translations_edit({translationId: row.code})"
                            style="margin-bottom:5px;">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button ng-show="!row.default && TranslationsCtrl.AuthService.hasPermission('SETTINGS', 'MODIFY')" type="button" class="button button-septenary tiny"
                            ng-click="translations[$index].showRemoveModal=true"
                            style="margin-bottom:5px;">
                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div ng-repeat="s in translations track by $index">
    <modal size="'tiny'" show="s.showRemoveModal" modal-title="'admin.translations.delete_confirmation'|translate">
        <div class="text-center">
            <p class="color-dark">{{"admin.translations.delete_confirmation_description"|translate}}</p>
            <div class="btns">
                <button type="button" ng-click="TranslationsCtrl.removeTranslations(s.code)"
                        class="button small button-septenary-colorized">{{"global.confirm"|translate}}
                </button>
            </div>
            <div style="clear:both;"></div>
        </div>
    </modal>
</div>
