<box-loader loading="SettingsCtrl.loaderStates.coverLoader" cover="1" class="cover" delay="1000"></box-loader>

<div class="heading" ng-init="SettingsCtrl.getData()">
    <h1>{{ "settings.heading" | translate }}</h1>
</div>
<div style="clear:both"></div>

<form novalidate ng-submit="SettingsCtrl.editSettings(settings)">
    <div class="box-content">
        <div class="row">
            <div class="columns medium-12">
                <fieldset class="fieldset">
                    <legend>{{"settings.title"|translate}}</legend>

                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.currency" | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.currency.errors">
                            <selectize ng-model="settings.currency"
                                       options="currencies"
                                       config="SettingsCtrl.currencyConfig"
                                       required
                            ></selectize>
                            <span class="prompt">{{ "settings.currency_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.timezone" | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.timezone.errors">
                            <selectize ng-model="settings.timezone"
                                       options="timezones"
                                       config="SettingsCtrl.timezoneConfig"
                                       required
                            ></selectize>
                            <span class="prompt">{{ "settings.timezone_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.program_name" | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.programName.errors">
                            <input type="text" ng-model="settings.programName" required>
                            <span class="prompt">{{ "settings.program_name_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.program_url" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.programUrl.errors">
                            <input type="text" ng-model="settings.programUrl" required>
                            <span class="prompt">{{ "settings.program_url_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.conditions_url" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.programConditionsUrl.errors">
                            <input type="text" ng-model="settings.programConditionsUrl" required>
                            <span class="prompt">{{ "settings.program_conditions_url_prompt"|translate}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.conditions_file" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="heroImageValidate.conditions_file.errors">
                            <div ng-show="!conditionsFilePath">
                                <input type="file" file-model="$parent.$parent.conditionsFile" style="padding:9px">
                            </div>
                            <div ng-show="conditionsFilePath" class="campainFileWrapper">
                                <span class="prompt">{{ conditionsFileUrl }}</span>
                                <button class="button button-septenary-colorized text-uppercase" style="margin-bottom:0; padding:0.95em; vertical-align: top; display: inline-block;"
                                        type="button" ng-click="SettingsCtrl.deleteConditionsFile()">
                                    {{ "global.remove" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.faq_url" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.programFaqUrl.errors">
                            <input type="text" ng-model="settings.programFaqUrl" required>
                            <span class="prompt">{{ "settings.program_faq_url_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.points_singular" | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.programPointsSingular.errors">
                            <input type="text" ng-model="settings.programPointsSingular" required>
                            <span class="prompt">{{ "settings.program_points_singular_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.points_plural" | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.programPointsPlural.errors">
                            <input type="text" ng-model="settings.programPointsPlural" required>
                            <span class="prompt">{{ "settings.program_points_plural_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.help_email" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.helpEmailAddress.errors">
                            <input type="text" ng-model="settings.helpEmailAddress" required>
                            <span class="prompt">{{ "settings.help_email_address_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.point_will_expire_after" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.pointsDaysExpiryAfter.errors">
                            <selectize
                                    ng-model="settings.pointsDaysExpiryAfter"
                                    options="SettingsCtrl.pointsExpireAfterOptions"
                                    config="SettingsCtrl.pointExpireAfterConfig"
                                    required>
                            </selectize>
                        </div>
                    </div>
                    <div class="row" ng-show="settings.pointsDaysExpiryAfter === 'after_x_days'">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.points_days_active" | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.pointsDaysActiveCount.errors">
                            <input ng-model="settings.pointsDaysActiveCount" type="number" required>
                            <span class="prompt">{{ "settings.points_days_active_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.all_time_not_locked" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.allTimeNotLocked.errors">
                            <checkbox ng-model="settings.allTimeNotLocked"></checkbox>
                            <span class="prompt">{{ "settings.all_time_not_locked_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row" ng-show="!settings.allTimeNotLocked">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.points_days_locked" | translate }}<span class="required" ng-show="!settings.allTimeNotLocked">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.pointsDaysLocked.errors">
                            <input ng-model="settings.pointsDaysLocked" type="number" required>
                            <span class="prompt">{{ "settings.points_days_locked_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.returns" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.returns.errors">
                            <checkbox ng-model="settings.returns"></checkbox>
                            <span class="prompt">{{ "settings.returns_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.allow_customers_profile_edits" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.allowCustomersProfileEdits.errors">
                            <checkbox ng-model="settings.allowCustomersProfileEdits"></checkbox>
                            <span class="prompt">{{ "settings.allow_customers_profile_edits_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.expire_points_notification_days" | translate }}<span class="required"
                                                                                                     ng-show="!settings.allTimeNotLocked">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.expirePointsNotificationDays.errors">
                            <input ng-model="settings.expirePointsNotificationDays" type="number" required>
                            <span class="prompt">{{ "settings.expire_points_notification_days_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.expire_coupons_notification_days" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.expireCouponsNotificationDays.errors">
                            <input ng-model="settings.expireCouponsNotificationDays" type="number" required>
                            <span class="prompt">{{ "settings.expire_coupons_notification_days_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.expire_levels_notification_days" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.expireLevelsNotificationDays.errors">
                            <input ng-model="settings.expireLevelsNotificationDays" type="number" required>
                            <span class="prompt">{{ "settings.expire_levels_notification_days_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.tier_assign_type" | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.tierAssignType.errors">
                            <selectize ng-model="settings.tierAssignType" options="SettingsCtrl.tiers" config="SettingsCtrl.tierConfig"
                                       required></selectize>
                            <span class="prompt">{{ "settings.tier_assign_type_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.exclude_delivery_costs" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.excludeDeliveryCostsFromTierAssignment.errors">
                            <checkbox ng-model="settings.excludeDeliveryCostsFromTierAssignment"></checkbox>
                            <span class="prompt">{{ "settings.exclude_delivery_costs_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row" ng-show="settings.excludeDeliveryCostsFromTierAssignment">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.excluded_skus" | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.excludedDeliverySKUs.errors">
                            <selectize config="SettingsCtrl.skusConfig" options="SettingsCtrl.egSkus" ng-model="settings.excludedDeliverySKUs"></selectize>
                            <span class="prompt">{{ "settings.exclude_delivery_costs_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.excluded_level_skus" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.excludedLevelSKUs.errors">
                            <selectize config="SettingsCtrl.skusConfig" options="SettingsCtrl.egSkus" ng-model="settings.excludedLevelSKUs"></selectize>
                            <span class="prompt">{{ "settings.excludes_level_skus_prompt"|translate}}</span>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fieldset" ng-if="settings.tierAssignType === 'points'">
                    <legend>{{"settings.level_downgrade.title"|translate}}</legend>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.level_downgrade.mode" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.levelDowngradeMode.errors">
                            <selectize config="SettingsCtrl.downgradeModeConfig" options="SettingsCtrl.downgradeModes"
                                       ng-model="settings.levelDowngradeMode"></selectize>
                            <span class="prompt">{{ "settings.level_downgrade.mode_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="settings.levelDowngradeMode==='after_x_days'">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.level_downgrade.days" | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.levelDowngradeDays.errors">
                            <input type="number" ng-model="settings.levelDowngradeDays" />
                            <span class="prompt">{{ "settings.level_downgrade.days_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="settings.levelDowngradeMode==='after_x_days'">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.level_downgrade.base" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.levelDowngradeBase.errors">
                            <selectize config="SettingsCtrl.downgradeBaseConfig" options="SettingsCtrl.downgradeBases"
                                       ng-model="settings.levelDowngradeBase"></selectize>
                            <span class="prompt">{{ "settings.level_downgrade.base_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="settings.levelDowngradeMode==='after_x_days' && settings.levelDowngradeBase==='active_points'">
                        <div class="small-3 medium 2 columns"></div>
                        <div class="small-9 medium-10 columns" form-validation="validate.levelResetPointsOnDowngrade.errors">
                            <input type="checkbox" ng-model="settings.levelResetPointsOnDowngrade">
                            <span class="prompt">{{ "settings.level_downgrade.reset_points"|translate}}</span>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <legend>{{"settings.template"|translate}}</legend>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.accent_color" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.accentColor.errors">
                            <input type="text" ng-model="settings.accentColor" required>
                            <span class="prompt">{{ "settings.accent_color_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.css_template" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.cssTemplate.errors">
                            <textarea ng-model="settings.cssTemplate" required rows="8"></textarea>
                            <span class="prompt">{{ "settings.css_template_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.logo" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="fileValidate.file.errors">
                            <div ng-show="!logoFilePath">
                                <input type="file" file-model="$parent.$parent.logoFile" style="padding:9px">
                            </div>
                            <div ng-show="logoFilePath" class="campainFileWrapper">
                                <img ng-src="{{SettingsCtrl.generateLogoRoute()}}" style="display: inline-block; background-color: #ccc;" />
                                <button class="button button-septenary-colorized text-uppercase" style="margin-bottom:0; padding:0.95em; vertical-align: top; display: inline-block;"
                                        type="button" ng-click="SettingsCtrl.deleteLogo()">
                                    {{ "global.remove" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.big_logo" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="bigLogoValidate.big_logo.errors">
                            <div ng-show="!bigLogoFilePath">
                                <input type="file" file-model="$parent.$parent.bigLogoFile" style="padding:9px">
                            </div>
                            <div ng-show="bigLogoFilePath" class="campainFileWrapper">
                                <img ng-src="{{SettingsCtrl.generateBigLogoRoute()}}" style="display: inline-block; background-color: #ccc;" />
                                <button class="button button-septenary-colorized text-uppercase" style="margin-bottom:0; padding:0.95em; vertical-align: top; display: inline-block;"
                                        type="button" ng-click="SettingsCtrl.deleteBigLogo()">
                                    {{ "global.remove" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.small_logo" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="smallLogoValidate.small_logo.errors">
                            <div ng-show="!smallLogoFilePath">
                                <input type="file" file-model="$parent.$parent.smallLogoFile" style="padding:9px">
                            </div>
                            <div ng-show="smallLogoFilePath" class="campainFileWrapper">
                                <img ng-src="{{SettingsCtrl.generateSmallLogoRoute()}}" style="display: inline-block; background-color: #ccc;" />
                                <button class="button button-septenary-colorized text-uppercase" style="margin-bottom:0; padding:0.95em; vertical-align: top; display: inline-block;"
                                        type="button" ng-click="SettingsCtrl.deleteSmallLogo()">
                                    {{ "global.remove" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.hero_image" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="heroImageValidate.hero_image.errors">
                            <div ng-show="!heroImageFilePath">
                                <input type="file" file-model="$parent.$parent.heroImageFile" style="padding:9px">
                            </div>
                            <div ng-show="heroImageFilePath" class="campainFileWrapper">
                                <img ng-src="{{SettingsCtrl.generateHeroImageRoute()}}" style="display: inline-block; background-color: #ccc;" />
                                <button class="button button-septenary-colorized text-uppercase" style="margin-bottom:0; padding:0.95em; vertical-align: top; display: inline-block;"
                                        type="button" ng-click="SettingsCtrl.deleteHeroImage()">
                                    {{ "global.remove" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <legend>{{"settings.statuses"|translate}}</legend>

                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.statuses_earning" | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.customerStatusesEarning.errors">
                            <selectize ng-model="settings.customerStatusesEarning" options="availableCustomerStatuses"
                                       config="SettingsCtrl.customerStatusesEarningConfig" required></selectize>
                            <span class="prompt">{{ "settings.customerStatusesEarning_prompt"|translate}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.statuses_spending" | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.customerStatusesSpending.errors">
                            <selectize ng-model="settings.customerStatusesSpending" options="availableCustomerStatuses"
                                       config="SettingsCtrl.customerStatusesSpendingConfig" required></selectize>
                            <span class="prompt">{{ "settings.customerStatusesSpending_prompt"|translate}}</span>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <legend>{{"settings.account_activation"|translate}}</legend>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.account_activation_method" | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.accountActivationMethod.errors">
                            <selectize ng-model="settings.accountActivationMethod" options="availableAccountActivationMethods"
                                       config="SettingsCtrl.accountActivationMethodsConfig" required></selectize>
                            <span class="prompt">{{ "settings.account_activation_method_prompt"|translate}}</span>
                        </div>
                    </div>

                    <div class="row" ng-repeat="config in smsGatewayConfig" ng-show="settings.accountActivationMethod == 'sms'">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings."+config.name | translate }}<span ng-if="settings.accountActivationMethod == 'sms'"
                                                                                  class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate[config.name].errors" ng-if="config.type == 'text'">
                            <input type="text" ng-model="settings[config.name]" ng-required="settings.accountActivationMethod == 'sms'">
                            <span class="prompt">{{ "settings."+config.name|translate}}</span>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate[config.name].errors" ng-if="config.type == 'bool'">
                            <input type="checkbox" ng-model="settings[config.name]" ng-required="settings.accountActivationMethod == 'sms'">
                            <span class="prompt">{{ "settings."+config.name|translate}}</span>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate[config.name].errors" ng-if="config.type == 'integer'">
                            <input type="number" ng-model="settings[config.name]" ng-required="settings.accountActivationMethod == 'sms'">
                            <span class="prompt">{{ "settings."+config.name|translate}}</span>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <legend>{{"settings.marketing"|translate}}</legend>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.marketing_vendor" | translate }}<span class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns"
                             form-validation="validate.marketingVendorsValue.errors">
                            <selectize ng-model="settings.marketingVendorsValue"
                                       options="availableMarketingVendors"
                                       config="SettingsCtrl.marketingVendorsConfig"
                                       required
                            ></selectize>
                            <span class="prompt">{{ "settings.marketing_vendor_prompt"|translate}}</span>
                        </div>
                    </div>
                    <div ng-repeat="(vendor, config) in availableMarketingVendorsConfig" ng-show="settings.marketingVendorsValue != 'none'">
                        <div class="row" ng-repeat="field in config">
                            <div class="small-3 medium-2 columns">
                                <label>{{ "settings."+vendor+"."+field.name | translate }}<span class="required" ng-show="settings.marketingVendorsValue == vendor">*</span></label>
                            </div>
                            <div class="small-9 medium-10 columns" form-validation="validate[vendor][field.name].errors" ng-if="field.type == 'text'">
                                <input type="text" ng-model="settings[vendor][field.name]" ng-required="settings.marketingVendorsValue == vendor">
                                <span class="prompt">{{ "settings."+vendor+"."+field.name+"_prompt"|translate}}</span>
                            </div>
                            <div class="small-9 medium-10 columns" form-validation="validate[vendor][field.name].errors" ng-if="field.type == 'bool'">
                                <input type="checkbox" ng-model="settings[vendor][field.name]" ng-required="settings.marketingVendorsValue == vendor">
                                <span class="prompt">{{ "settings."+vendor+"."+field.name+"_prompt"|translate}}</span>
                            </div>
                            <div class="small-9 medium-10 columns" form-validation="validate[vendor][field.name].errors" ng-if="field.type == 'integer'">
                                <input type="number" ng-model="settings[vendor][field.name]" ng-required="settings.marketingVendorsValue == vendor">
                                <span class="prompt">{{ "settings."+vendor+"."+field.name+"_prompt"|translate}}</span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <legend>{{"settings.push_notification"|translate}}</legend>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.pushy_secret_key" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns">
                            <input type="text" ng-model="settings.pushySecretKey" required>
                            <span class="prompt">{{ "settings.pushy_secret_key_prompt"|translate}}</span>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <legend>{{"settings.identification_priority"|translate}}</legend>
                    <div class="collection"
                         ng-repeat="cip in settings.customersIdentificationPriority track by $index">
                        <button type="button" class="remove-collection"
                                ng-click="SettingsCtrl.removeIdentificationPriority($index)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                        <div class="row">
                            <div class="small-3 medium-2 columns">
                                <label>{{ "settings.priority" | translate }}<span class="required">*</span></label>
                            </div>
                            <div class="small-9 medium-10 columns"
                                 form-validation="validate.customersIdentificationPriority[$index].priority.errors">
                                <input type="number"
                                       ng-model="settings.customersIdentificationPriority[$index].priority" required/>
                                <span class="prompt">{{ "settings.priority_prompt"|translate}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-3 medium-2 columns">
                                <label>{{ "settings.fields" | translate }}<span class="required">*</span></label>
                            </div>
                            <div class="small-9 medium-10 columns"
                                 form-validation="validate.customersIdentificationPriority[$index].field.errors">
                                <selectize ng-model="settings.customersIdentificationPriority[$index].field"
                                           options="SettingsCtrl.fields"
                                           config="SettingsCtrl.fieldConfig"
                                           required
                                ></selectize>
                                <span class="prompt">{{ "settings.field_prompt"|translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="button button-secondary tiny"
                                ng-click="SettingsCtrl.addIdentificationPriority()"
                                type="button">{{ "segment.add_identification_priority" | translate }}
                        </button>
                    </div>
                </fieldset>

                <fieldset class="fieldset">
                    <legend>{{"settings.webhooks"|translate}}</legend>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.webhooks" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.webhooks.errors">
                            <checkbox ng-model="settings.webhooks"></checkbox>
                            <span class="prompt">{{ "settings.enable_webhooks"|translate }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.uri_webhooks" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.uriWebhooks.errors">
                            <input type="text" ng-model="settings.uriWebhooks">
                            <span class="prompt">{{ "settings.uri_webhooks_prompt"|translate }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.webhook_header_name" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.webhookHeaderName.errors">
                            <input type="text" ng-model="settings.webhookHeaderName">
                            <span class="prompt">{{ "settings.webhook_header_name_prompt"|translate }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "settings.webhook_header_value" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.webhookHeaderValue.errors">
                            <input type="text" ng-model="settings.webhookHeaderValue">
                            <span class="prompt">{{ "settings.webhook_header_value_prompt"|translate }}</span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="columns small-12">
                <button ng-click="SettingsCtrl.setRefresh(0)"class="button  button-septenary-colorized float-left m-r-1" type="submit">
                    {{ "global.save" | translate}}
                </button>
                <button type="button" ui-sref="admin"
                        class="button  button-quaternary float-left">
                    {{ "global.cancel" | translate }}
                </button>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</form>
