<box-loader loading="RolesCtrl.loaderStates.coverLoader" cover="1" class="cover" delay="1000"></box-loader>

    <div class="heading" ng-init="RolesCtrl.getRoleData(); RolesCtrl.getAccesses(); RolesCtrl.getResources()">
        <h1>{{ "role.edit_heading" | translate }}</h1>
    </div>

    <div style="clear:both;"></div>
    <form novalidate ng-submit="RolesCtrl.editRole(editableFields)">
        <div class="box-content">
            <div class="row">
                <div class="columns medium-12">
                    <fieldset class="fieldset">
                        <legend>{{ "role.basic_info" | translate }}</legend>

                        <div class="row">
                            <div class="medium-2 small-3 columns">
                                <label>{{ "role.name" | translate }}</label>
                            </div>
                            <div class="medium-10 small-9 columns" form-validation="validate.name.errors">
                                <input type="text" ng-model="editableFields.name">
                                <span class="prompt">{{ "role.name_prompt" | translate }}</span>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="medium-2 small-3 columns">
                                <label>{{ "role.permissions" | translate }}</label>
                            </div>
                            <div class="medium-10 small-9 columns" form-validation="validate.permissions.errors">
                                <div class="collection" ng-repeat="permission in editableFields.permissions track by $index">
                                    <div class="row">
                                        <div class="medium-2 small-3 columns">
                                            <label>{{ "role.access" | translate }} <span class="required">*</span></label>
                                        </div>
                                        <div class="medium-10 small-9 columns" form-validation="validate.permissions[$index].access.errors">
                                            <selectize 
                                                ng-model="editableFields.permissions[$index].access" 
                                                options="RolesCtrl.accesses" 
                                                config="RolesCtrl.accessesConfig"
                                                required>
                                            </selectize>
                                            <span class="prompt">{{ "role.access_prompt" | translate }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="medium-2 small-3 columns">
                                            <label>{{ "role.resource" | translate }}</label>
                                        </div>
                                        <div class="medium-10 small-9 columns" form-validation="validate.permissions[$index].resource.errors">
                                            <selectize 
                                                ng-model="editableFields.permissions[$index].resource" 
                                                options="RolesCtrl.resources" 
                                                config="RolesCtrl.resourcesConfig"
                                                required>
                                            </selectize>
                                            <span class="prompt">{{ "role.resource_prompt" | translate }}</span>
                                        </div>
                                    </div>
                        
                                    <button type="button" class="remove-collection" ng-click="RolesCtrl.removePermission($index, true)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        
                            <div class="medium-10 small-9 columns">
                                <button type="button" class="button button-secondary tiny" ng-click="RolesCtrl.addPermission(true)">{{
                                    "role.add_permission" | translate }}
                                </button>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="columns small-12">
                    <button class="button button-septenary-colorized  float-left m-r-1" type="submit">
                        {{ "global.save" | translate }}
                    </button>
                    <button type="button" ui-sref="admin.roles-list" class="button button-default float-left" href="#">
                        {{ "global.cancel" | translate }}
                    </button>
                </div>
                <div style="clear:both;"></div>
            </div>

        </div>
    </form>
