<box-loader loading="RolesCtrl.loaderStates.coverLoader" cover="1" class="cover" delay="1000"></box-loader>

<div class="heading" ng-init="RolesCtrl.getData()">
    <h1>{{ "role.heading" | translate }}</h1>
    <div class="action-buttons">
        <button ng-show="RolesCtrl.AuthService.hasPermission('ACL', 'MODIFY')" class="medium button button-septenary-colorized" ui-sref="admin.add-role">
            {{ "role.add" | translate }}
        </button>
    </div>
</div>
<div style="clear:both;"></div>
<div class="client-list box">
    <div class="box-title">
        <h1 class="text-left">{{ "role.list" | translate }}</h1>
    </div>
    <div class="box-content">
        <box-loader loading="RolesCtrl.loaderStates.rolesList"></box-loader>
        <table ng-table="RolesCtrl.tableParams" class="default" template-pagination="templatePagination.html">
            <tr ng-repeat="row in rolesList">
                <td data-title="'role.name'|translate" sortable="'name'">
                    <span ng-bind="row.name"></span>
                </td>
                <td data-title="'role.actions'|translate">
                    <button ng-show="RolesCtrl.AuthService.hasPermission('ACL', 'MODIFY')"  type="button" class="button  button-secondary tiny"
                            ui-sref="admin.edit-role({roleId: row.id})">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button ng-show="RolesCtrl.AuthService.hasPermission('ACL', 'MODIFY')"  class="button button-septenary tiny" ng-click="rolesList[$index].showRemoveModal=true">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>


<div ng-repeat="role in rolesList track by $index">
    <modal size="'tiny'" show="role.showRemoveModal" modal-title="'role.delete_confirmation'|translate">
        <div class="text-center">
            <p class="color-dark">{{"role.delete_confirmation_description"|translate}}</p>
            <div class="btns">
                <button type="button" ng-click="RolesCtrl.removeRole(role.id)" class="button small button-septenary-colorized m-t-10 m-b-0"
                    ng-disabled="RolesCtrl.loaderStates.removeRole">{{"global.confirm"|translate}}
                </button>

                <div class="spinner-loader-wrapper">
                    <spinner-loader loading="RolesCtrl.loaderStates.removeRole" class="inline" delay="5"></spinner-loader>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </modal>
</div>
