<section class="pos-section">

    <h1>{{ "seller.dashboard.title.customer_registration_activation" | translate }}</h1>

    <div class="row">
        <form novalidate class="text-left" ng-submit="SellerCustomerCtrl.activateCustomer(token)">
            <div class="box-content">
                <div class="row">
                    <div class="columns medium-12">
                        <fieldset class="fieldset">
                            <legend>{{ "registration_activation.basic_info" | translate }}</legend>
                            <div class="row">
                                <div class="medium-4 small-4 columns">
                                    <label>{{ "registration_activation.code" | translate }} <span class="required">*</span></label>
                                </div>
                                <div class="medium-4 small-4 columns">
                                    <input type="text" ng-model="token.value" required>
                                </div>
                                <div class="medium-4 small-4 columns" ng-if="SellerCustomerCtrl.isActivationBySms() && SellerCustomerCtrl.customerId">
                                    <button type="button" class="button button-default" ng-click="SellerCustomerCtrl.resendActivationCode(SellerCustomerCtrl.customerId)">
                                        {{ "customer.resend_activation_code"|translate }}
                                    </button>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="columns small-12">
                        <button class="button button-septenary-colorized  float-left m-r-1" type="submit">
                            {{ "global.save" | translate }}
                        </button>
                        <button type="button" ui-sref="seller.panel.dashboard" class="button button-default float-left">
                            {{ "global.cancel" | translate }}
                        </button>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </form>
    </div>
</section>
