<section class="login admin text-center">
    <div class="logo text-center">
        <img id="openLoyaltyLogo" ng-src="{{RootCtrl.logo}}" style="display: inline-block;"/>
    </div>
    <form novalidate class="registration-form text-left" ng-submit="CustomerRegistrationCtrl.activateSms(code)">
        <div class="box-content">
            <div class="row">
                <div class="columns medium-12">
                    <fieldset class="fieldset">
                        <legend>{{ "customer_security.registration_activation.title" | translate }}</legend>
                        <div class="row">
                            <div class="small-4 columns">
                                <label>{{ "customer_security.registration_activation.code" | translate }} <span class="required">*</span></label>
                            </div>
                            <div class="small-4 columns">
                                <input type="text" ng-model="code.value" required>
                            </div>
                            <div class="small-4 columns">
                                <button type="button" class="button button-default" ng-click="CustomerRegistrationCtrl.showResendModal = true">
                                    {{ "customer_security.registration_activation.resend_code"|translate }}
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="columns small-12">
                    <button class="button button-septenary-colorized  float-left m-r-1" type="submit">
                        {{ "global.save" | translate }}
                    </button>
                    <button type="button" ui-sref="customer-login" class="button button-default float-left">
                        {{ "global.cancel" | translate }}
                    </button>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </form>
</section>


<modal show="CustomerRegistrationCtrl.showResendModal" modalId="resendModal"
       modal-title="'customer_security.registration_activation.resend_code'|translate"
       size="'tiny'">
    <div class="box-content-modal">
        <input type="text" ng-model="code.phone" required placeholder="{{ 'customer_security.registration_activation.phone'|translate }}">
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="columns small-12">
                <button class="button button-septenary-colorized  float-left m-r-1" type="button" ng-click="CustomerRegistrationCtrl.resendActivationCode(code)">
                    {{ "customer.resend_activation_code" | translate }}
                </button>
                <button type="button" ng-click="CustomerRegistrationCtrl.showResendModal = false; code.phone=''" class="button button-default float-left">
                    {{ "global.cancel" | translate }}
                </button>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</modal>